<!DOCTYPE html>
<html>
<head>
<meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.dsp"}


<!--main-->
<div class="main">
  <!--side-->
  <div class="side">
  
    {part ("/dsp.main.nav")}

  </div>
  
  <!--mcon start-->
  <div class="mcon">
  
    <!--toolbar start--> 
    <div class="toolbar">
        <div id="adjihua" class="selMenu smzt">
          <span class="smtit">全部渠道</span>
          <ul>
            <li><a href="javascript:;">全部渠道</a></li>
            <li><a href="javascript:;">新浪</a></li>
          </ul>
        </div>
        <div id="zhuantai" class="selMenu smzt ml10">
          <span class="smtit">全部状态</span>
          <ul>
            <li><a href="javascript:;">全部状态</a></li>
            <li><a href="javascript:;">待审核</a></li>
          </ul>
        </div>
          <div class="selMenu ml10">
            <div class="smtbg">
              <input type="text" class="itxt_1 fl idate" value="2012-05-23" size="15" />
              <div class="fl">&nbsp;至&nbsp;</div>
              <input type="text" class="itxt_1 fl idate" value="结束时间" size="15" />
            </div>
          </div>
       <div class="fl ml10"><span class="sbtnb"><a class="ibtnb" href="#">搜索</a></span></div>
      <div class="clear"></div>
    </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="reportab mt20">
      <tr>
        <th>ID</th>
        <th>上传渠道</th>
        <th>素材类型</th>
        <th>尺寸</th>
        <th>目标地址</th>
        <th>上传时间</th>
        <th>有效期</th>
        <th>预览</th>
        <th>审核状态</th>
        <th>审核</th>
      </tr>
      <tr>
        <td>1</td>
        <td>新浪</td>
        <td>flash</td>
        <td>通过</td>
        <td>www.sina.com.cn</td>
        <td>2013-12-09</td>
        <td>2013-12-09 9:00至2014-12-09 9:00</td>
        <td><a href="#">预览</a></td>
        <td>通过</td>
        <td><a href="#">通过</a><a href="#">拒绝</a></td>
      </tr>
    </table>
    
    <!--turnpage start-->
    <div class="turnpage">
      <a href="#"><em>&lt;</em> 上一页</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <span>...</span>
      <a href="#">65</a>
      <a href="#">下一页 <em>&gt;</em></a>
    </div>
    <!--turnpage end-->
    
  </div>
  <!--mcon end-->
  
</div>



<!--版权-->
<div class="footer">
  <div class="ftcon">
    Copyright © 2013 All rights reserved. 设计广告平台有限公司 版权所有<br /> 
    京ICP证68976143.3号 京公网安备XKD89756号
  </div>
</div>

</body>
</html>
