<!DOCTYPE html>
<html>
<head>
<meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.dsp"}


<!--main-->
<div class="main">
  <!--side-->
  <div class="side">
  
    {part ("/dsp.main.nav")}

  </div>
  
  <!--mcon start-->
  <div class="mcon">
    <div class="crumbLink"><a href="#">流量控制</a>&nbsp;&gt;&nbsp;数据报表</div>
    <!--toolbar start--> 
    <div class="toolbar mt20">
        <div id="adjihua" class="selMenu smzt">
          <span class="smtit">全部媒体</span>
          <ul>
            <li><a href="javascript:;">全部媒体</a></li>
            <li><a href="javascript:;">新浪</a></li>
          </ul>
        </div>
        <div id="zhuantai" class="selMenu smzt ml10">
          <span class="smtit">全部网站</span>
          <ul>
            <li><a href="javascript:;">全部网站</a></li>
            <li><a href="javascript:;">巧乐兹</a></li>
          </ul>
        </div>
        <div id="zhuantai" class="selMenu smzt ml10">
          <span class="smtit">全部广告位</span>
          <ul>
            <li><a href="javascript:;">全部广告位</a></li>
            <li><a href="javascript:;">巧乐兹</a></li>
          </ul>
        </div>
        <div id="zhuantai" class="selMenu smw_1 ml10">
          <span class="smtit">全部类型</span>
          <ul>
            <li><a href="javascript:;">全部类型</a></li>
          </ul>
        </div>
        <div id="zhuantai" class="selMenu smw_1 ml10">
          <span class="smtit">全部渠道</span>
          <ul>
            <li><a href="javascript:;">全部渠道</a></li>
          </ul>
        </div>
          <div class="selMenu ml10">
            <div class="smtbg">
              <input type="text" class="itxt_1 fl idate" value="2012-05-23" size="15" />
              <div class="fl">&nbsp;至&nbsp;</div>
              <input type="text" class="itxt_1 fl idate" value="结束时间" size="15" />
            </div>
          </div>
       <div class="fl ml10"><span class="sbtnb"><a class="ibtnb" href="#">搜索</a></span></div>
      <div class="clear"></div>
    </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="reportab mt20">
      <tr>
        <th class="tac">ID</th>
        <th>媒体</th>
        <th>网站名称</th>
        <th>广告位名称</th>
        <th>广告类型</th>
        <th class="tac">日期</th>
        <th>渠道</th>
        <th class="tac">渠道占比</th>
        <th class="tac">总展示</th>
        <th class="tac">总点击</th>
        <th class="tac">平均点击</th>
        <th class="tac">千次展现收入(元)</th>
        <th>操作</th>
      </tr>
      <tr>
        <td class="tac">1</td>
        <td>新浪</td>
        <td>新浪体育</td>
        <td>test</td>
        <td>banner</td>
        <td class="tac">2013-05-0</td>
        <td>网盟</td>
        <td class="tac">50%</td>
        <td class="tac">100</td>
        <td class="tac">2</td>
        <td class="tac">2%</td>
        <td class="tac">2</td>
        <td><a href="#">查看</a><a href="#">流量控制</a></td>
      </tr>
    </table>
    
    <!--turnpage start-->
    <div class="turnpage">
      <a href="#"><em>&lt;</em> 上一页</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <span>...</span>
      <a href="#">65</a>
      <a href="#">下一页 <em>&gt;</em></a>
    </div>
    <!--turnpage end-->
    
  </div>
  <!--mcon end-->
  
</div>



<!--版权-->
<div class="footer">
  <div class="ftcon">
    Copyright © 2013 All rights reserved. 设计广告平台有限公司 版权所有<br /> 
    京ICP证68976143.3号 京公网安备XKD89756号
  </div>
</div>

</body>
</html>
