<!DOCTYPE html>
<html>
<head>
<meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.dsp"}


<!--main-->
<div class="main">
  <!--side-->
  <div class="side">
  
    {part ("/dsp.main.nav")}

  </div>
  
  <!--mcon start-->
  <div class="mcon">
  
    <div class="crumbLink"><a href="#">流量控制</a>&nbsp;&nbsp;&gt;&nbsp;新建</div>
    <h1 class="mtit">新建流量控制</h1>
    <!--基本信息-->
    <div class="comForm">
      <dl>
        <dt>媒体：</dt>
        <dd>
            <select id="selYear">
              <option>新浪</option>
            </select>
        </dd>
      </dl>
      <dl>
        <dt>媒体：</dt>
        <dd>
            <select id="selYear">
              <option>新浪</option>
            </select>
        </dd>
      </dl>
      <dl>
        <dt>网站：</dt>
        <dd>
            <select id="selYear">
              <option>新浪</option>
            </select>
        </dd>
      </dl>
      <dl>
        <dt>广告位：</dt>
        <dd>
            <select id="selYear">
              <option>新浪</option>
            </select>
        </dd>
      </dl>
      <dl>
        <dt>广告类型：</dt>
        <dd>
            <select id="selYear">
              <option>.JPG</option>
            </select>
        </dd>
      </dl>
      <dl>
        <dt>自运营：</dt>
        <dd>
            <select id="selYear">
              <option>优先</option>
              <option>托管</option>
            </select>
        </dd>
      </dl>
      </div>

    <div class="comForm clear">

      <h1>流量控制</h1>
      <dl>
        <dt>托管：</dt>
        <dd>
            <select id="selYear">
              <option>优先</option>
              <option>托管</option>
            </select>
        <p class="mt10">流量设置：<input type="text" class="itxt" size="12" />
        <span class="fc7 fs12 ml5">不超过100%</span><a class="ml10" href="">添加</a></p>
        </dd>
      </dl>
      <dl>
        <dt>RTB：</dt>
        <dd><input type="text" class="itxt" size="30" /></dd>
      </dl>
      <dl>
        <dt>网盟：</dt>
        <dd>
        <input type="text" class="itxt" size="30" />
        <p class="mt10">淘宝：<input type="text" class="itxt" size="12" />%</p>
        <p class="mt10">百度：<input type="text" class="itxt" size="12" />%</p>
        <p class="mt10">谷歌：<input type="text" class="itxt" size="12" />%</p>
        </p>
        </dd>
      </dl>
    </div>
    
    <!--btn-->
    <div class="comForm">
      <dl>
        <dt>&nbsp;</dt>
        <dd>
          <span class="sbtnb">
            <input name="" type="button" class="ibtnb" value="保存"  />
          </span>
          <span class="sbtng ml20">
            <input name="" type="button" class="ibtng" value="取消" />
          </span>
        </dd>
      </dl>
    </div>
    
  </div>
  <!--mcon end-->
  
</div>

<!--版权-->
<div class="footer">
  <div class="ftcon">
    Copyright © 2013 All rights reserved. 设计广告平台有限公司 版权所有<br /> 
    京ICP证68976143.3号 京公网安备XKD89756号
  </div>
</div>

</body>
</html>
