<!DOCTYPE html>
<html>
<head>
<meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.ad"}
<script src="/baichuan_advertisement_manage/assets_admin/highcharts/js/highcharts.js" ></script>
<!--main-->
<div class="main">
  <div class="side">
{part "/ad.plan.listpart"}
  </div>

  
  <!--mcon-->
  <div class="mcon">
    <div class="crumbLink"><a href="/baichuan_advertisement_manage/audient.main.renqun">人群管理</a>&nbsp;&gt;&nbsp;<a href="/baichuan_advertisement_manage/audient">监控管理</a>&nbsp;&gt;&nbsp;新增</div>
    
    <h1 class="mtit">自动安装</h1>
    
    <div class="comForm clear">
      <dl>
        <dt>FTP地址：</dt>
        <dd><input type="text" class="itxt" size="30" value="192.168.1.10" /></dd>
      </dl>
      <dl>
        <dt>用户名：</dt>
        <dd><input type="text" class="itxt" size="30" /></dd>
      </dl>
      <dl>
        <dt>密码：</dt>
        <dd><input type="password" class="itxt" size="30" /></dd>
      </dl>
    </div>
    
    <div class="comForm clear">
      <dl>
        <dt>初始目录：</dt>
        <dd><input type="text" class="itxt" size="30" /></dd>
      </dl>
      <dl>
        <dt>端口：</dt>
        <dd><input type="text" class="itxt" size="30" /></dd>
      </dl>
    </div>
    
    
    <div class="comForm clear">
      <dl>
        <dt>编码方式：</dt>
        <dd>
          <select id="selYear">
            <option>UTF-8</option>
            <option>GBK</option>
          </select>
        </dd>
      </dl>
      <dl>
        <dt>SSL模式：</dt>
        <dd>
          <select id="selYear">
            <option>是</option>
            <option>否</option>
          </select>
        </dd>
      </dl>
    </div>
    
    
    <!--btn-->
    <div class="comForm">
      <dl>
        <dt>&nbsp;</dt>
        <dd>
          <span class="sbtnb">
            <input name="" type="button" class="ibtnb" value="连接" />
          </span>
        </dd>
      </dl>
    </div>
    
  </div>
</div>
</div>
<div class="clear"></div>

{part "/main.main.footer"}

</body>
</html>
