<!DOCTYPE html>
<html>
<head>
<meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.media"}
<script src="/baichuan_advertisement_manage/assets_admin/highcharts/js/highcharts.js" ></script>
<!--main-->

<!--main-->
<div class="main">
  <div class="side">
  	{part ("/media.main.nav")} 
  </div>
  
  <!--mcon start-->
  <div class="mcon">
  	<div class="toolbar-bc fl" style="margin-bottom:13px;">
    	<div class="fl sub-title sc-title">
    		<a href="/baichuan_advertisement_manage/media">媒体管理</a>
			<i class="fa fa-angle-double-right"></i>
			网站管理
    	</div>
    	<div class="fr">
			<a class="btn btn-squared btn-success" href="#"></a>
		</div>
	</div>
  
    <!--toolbar start--> 
    <div class="toolbar mt20">
     <div class="fl"><span class="sbtnb"><input name="" type="button" class="ibtnb" value="新建媒体" /></span></div>
     <div class="fr">
        <span class="iSearch">
           <a class="isicon" href="#"><img src="../images/i_search.gif" alt="搜索" /></a>
           <input type="text" class="itxt fc7" value="媒体名称" size="30" />
        </span>
      </div><div class="clear"></div>
    </div>
  
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="reportab">
      <tr>
        <th class="tac">媒体ID</th>
        <th>媒体名称</th>
        <th>媒体类型</th>
        <th class="tac">网站数</th>
        <th>操作</th>
      </tr>
      <tr>
        <td class="tac">1</td>
        <td><a href="#">新浪</a></td>
        <td>综合</td>
        <td class="tac">1</td>
        <td><a href="#">修改</a><a href="#">删除</a></td>
      </tr>
      <tr>
        <td class="tac">2</td>
        <td><a href="#">新浪</a></td>
        <td>综合</td>
        <td class="tac">1</td>
        <td><a href="#">修改</a><a href="#">删除</a></td>
      </tr>
    </table>
    
    <!--turnpage start-->
    <div class="turnpage">
      <a href="#"><em>&lt;</em> 上一页</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <span>...</span>
      <a href="#">65</a>
      <a href="#">下一页 <em>&gt;</em></a>
    </div>
    <!--turnpage end-->
    
  </div>
  <!--mcon end-->
  
</div>
{part "/main.main.footer"}
</body>
</html>
