<!DOCTYPE html>
<html>
<head>
<meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.media"}
<script src="/baichuan_advertisement_manage/assets_admin/highcharts/js/highcharts.js" ></script>
<!--main-->

<!--main-->
<div class="main">
  <div class="side">
  {part ("/media.main.nav")} 



      </div>
  </div>
  
  <!--mcon start-->
  <div class="mcon">
  
    <div class="crumbLink"><a href="#">媒体管理</a>&nbsp;&gt;&nbsp;广告位</div>
  
    <!--toolbar start--> 
    <div class="toolbar mt20">
      <div id="zhuantai" class="selMenu smw_1">
          <span class="smtit">媒体来源</span>
          <ul>
            <li><a href="javascript:;">所有媒体</a></li>
            <li><a href="javascript:;">新浪</a></li>
          </ul>
        </div>
        <div id="zhuantai" class="selMenu smw_1 ml10">
          <span class="smtit">媒体类型</span>
          <ul>
            <li><a href="javascript:;">所有类型</a></li>
            <li><a href="javascript:;">综合</a></li>
          </ul>
        </div>
        <div id="zhuantai" class="selMenu smw_1 ml10">
          <span class="smtit">尺寸</span>
          <ul>
            <li><a href="javascript:;">所有尺寸</a></li>
            <li><a href="javascript:;">210*250</a></li>
          </ul>
        </div>
       <div class="fl ml10"><span class="sbtnb"><a class="ibtnb" href="#">确定</a></span></div>
        
      <div class="clear"></div>
    </div>
  
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="reportab">
      <tr>
        <th class="tac">ID</th>
        <th>媒体名称</th>
        <th>尺寸</th>
        <th class="tac">域名</th>
        <th>分类</th>
        <th>类型</th>
        <th>位置</th>
      </tr>
      <tr>
        <td class="tac">1</td>
        <td>新浪</td>
        <td>400*300</td>
        <td class="tac">sina.com</td>
        <td>娱乐八卦</td>
        <td>固定</td>
        <td>二屏</td>
      </tr>
    </table>
    
    <!--turnpage start-->
    <div class="turnpage">
      <a href="#"><em>&lt;</em> 上一页</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <span>...</span>
      <a href="#">65</a>
      <a href="#">下一页 <em>&gt;</em></a>
    </div>
    <!--turnpage end-->
    
  </div>
  <!--mcon end-->
  
</div>
{part "/main.main.footer"}
</body>
</html>
