<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Temp</title>
<style type="text/css" rel="stylesheet">
.chartData{margin-top:10px;padding:0 10px 10px 10px;border-bottom:1px solid #eee;clear:both;overflow:hidden;zoom:1;}
.chartData .cdli{float:left;margin-right:15px;padding-right:15px;border-right:1px solid #ddd;}
.chartData .cdli span{text-align:center;display:block;clear:both;overflow:hidden;zoom:1;}
.chartData strong{font-size:14px;}
</style>
</head>

<body>
    <div class="chartData">
      <div class="cdli"><span class="cdlinfo">2013-05-14 至 2013-06-12</span><span class="cdltit">时间段</span></div>
      <div class="cdli"><span class="cdlinfo"><strong>358</strong>次</span><span class="cdltit">展示次数</span></div>
      <div class="cdli"><span class="cdlinfo"><strong>689</strong>次</span><span class="cdltit">点击次数</span></div>
      <div class="cdli"><span class="cdlinfo"><strong>68.53%</strong></span><span class="cdltit">点击率</span></div>
      <div class="cdli"><span class="cdlinfo"><strong>685</strong>元</span><span class="cdltit">费用</span></div>
    </div>
</body>
</html>
