<!DOCTYPE html>
<html>
<head>
<meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.admin"}


<!--main-->
<div class="main">
  <!--side-->
  <div class="side">
  {part ("/admin.main.nav.user")} 
  </div>
  
  <!--mcon start-->
  <div class="mcon">
  
    <h1 class="mtit">管理广告主</h1>
    <!--toolbar start--> 
    <div class="toolbar mt20">
     <div class="fl"><span class="sbtnb"><a class="ibtnb" href="/baichuan_advertisement_manage/admin.user.add">添加广告主</a></span></div>
     <div class="fr">
        <span class="iSearch ml10">
           <a class="isicon" href="#"><img src="/baichuan_advertisement_manage/assets_admin/img/i_search.gif" alt="搜索" /></a>
           <input type="text" class="itxt fc7" value="广告主" size="30" />
        </span>
      </div><div class="clear"></div>
    </div>
      
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="reportab mt20">
      <tr>
        <th>用户ID</th>
        <th>账户名</th>
        <th>联系电话</th>
        <th>账户类型</th>
		<th>地址</th>
        <!--		<th>总花费数</th>-->
        <th>余额</th>
        <th>账户状态</th>
        <th>操作</th>
      </tr>
{foreach $_users as $_user}
      <tr>
        <td>{$_user->uid}</td>
        <td>{$_user->user_name}</td>
        <td>{$_user->cell_phone}</td>
		<td>
			{foreach $_user->roles as $id=>$_name}
				{$_name}
			{/foreach}
		</td>
        <td>{$_user->address}</td>
        <!-- <td></td>-->
        <td>{sprintf("%.3f",$_user->account)}</td>
        <td>{if $_user->account_status==1}正常{elseif $_user->account_status==2}禁用{/if}</td>
        <td><a href="/baichuan_advertisement_manage/admin.user.edit.{$_user->uid}">修改</a><a href="/baichuan_advertisement_manage/admin.user.topup.{$_user->uid}">充值</a></td>
      </tr>
{/foreach}
    </table>
    
    <!--turnpage start-->
{*
    <div class="turnpage">
      <a href="#"><em>&lt;&lt;</em>上一页</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <span>...</span>
      <a href="#">65</a>
      <a href="#">下一页<em>&gt;&gt;</em></a>
    </div>
*}
    <!--turnpage end-->
    
  </div>
  <!--mcon end-->
  
</div>



{part "/main.main.footer"}

</body>
</html>
