<!DOCTYPE html>
<html>
<head>
<meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.admin"}


<!--main-->
<div class="main">
  <!--side-->
  <div class="side">
  
    <div class="leftNav">
      <ul>
        <li><a href="#">管理广告主</a></li>
        <li><a href="#">管理用户</a></li>
        <li class="nobotbor"><a href="#">角色管理</a></li>
      </ul>
    </div>

  </div>
  
  <!--mcon start-->
  <div class="mcon">
  
    <h1 class="mtit">管理用户</h1>
    <!--toolbar start--> 
    <div class="toolbar mt20">
      <div class="tbGroup ml10">
        <span class="tbgBtn">
          <a class="tbgba" href="#">账户信息</a>
          <a class="tbgba nobor sel" href="#">操作信息</a>
        </span>
      </div>
      <div class="tbGroup ml30">
        <span class="tbgBtn">
          <a class="tbgiba nobr" href="#"><i class="idel"></i></a>
        </span>
      </div>
      <div class="clear"></div>
    </div>
      
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="reportab mt20">
      <tr>
        <th>角色名</th>
        <th>更新日期</th>
        <th>备注</th>
      </tr>
      <tr>
        <td>丽斯大</td>
        <td>2013-12-12</td>
        <td>测试</td>
      </tr>
    </table>
    
    <!--turnpage start-->
    <div class="turnpage">
      <a href="#"><em>&lt;&lt;</em>上一页</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <span>...</span>
      <a href="#">65</a>
      <a href="#">下一页<em>&gt;&gt;</em></a>
    </div>
    <!--turnpage end-->
    
  </div>
  <!--mcon end-->
  
</div>



{part "/main.main.footer"}

</body>
</html>
