<!DOCTYPE html>
<html>
<head>
<meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
{part "/main.main.header"}
</head>
<body>

  <div class="ltop">
    <span class="ltr fr"><a href="#" target="_blank">帮助</a></span>
    <span class="name"><img src="/baichuan_advertisement_manage/assets_admin/img/logo.png" width="146" height="40" alt="广告推广平台" /></span>
  </div>

  <!--login start-->
  <div class="graybg">
    <div class="main clear">
    
      <div class="mside fl"><img src="/baichuan_advertisement_manage/assets_admin/img/i_fpw.png" /><h1>找回密码</h1></div>
      
      <!--LoginForm-->
        <!--login start-->
        <div class="mcon">
        
        <div class="fpwstep fpwstep1 fl">
          <div class="step1">输入用户名</div>
          <div class="step2">邮箱验证</div>
          <div class="step3">设置新密码</div>
         </div>
         <div class="clear"></div>
        
        <div class="fpwcon">
          <dl>
            <dt><label for="yx">账户名：</label></dt>
            <dd><input id="yx" type="text" class="itxt" size="40" /></dd>
            <dd class="tips_error">格式错误</dd>
          </dl>
          <dl>
            <dt><label for="yx">验证码：</label></dt>
            <dd><input id="yx" type="text" class="itxt" size="40" /></dd>
            <dd class="tips_error">格式错误</dd>
          </dl>
          <dl>
            <dt>&nbsp;</dt>
            <dd><button type="button" class="btn" data-toggle="button" onclick="location.href='fpw_2.html'">下一步</button></dd>
          </dl>
        </div>
        </div>
        <!--login end-->
         
      </div>
      
    </div>
  
  </div>
  </div>

{part "/main.main.footer"}
  

</body>
</html>
