<!DOCTYPE html>
<html>
<head>
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.admin"}


<!--main-->
<div class="main">
  <!--side-->
  <div class="side">
  
    <div class="leftNav">
      <ul>
        <li><a href="#">管理广告主</a></li>
        <li><a href="#">管理用户</a></li>
        <li class="nobotbor sel"><a href="#">角色管理</a></li>
      </ul>
    </div>

  </div>
  
  <!--mcon-->
  <div class="mcon">
    <div class="crumbLink"><a href="#">高级管理</a>&nbsp;&gt;&nbsp;<a href="#">角色管理</a>&nbsp;&gt;&nbsp;添加角色</div>
    
    <h1 class="mtit">添加角色</h1>
    
    <div class="comForm clear">
      <dl>
        <dt>角色名称：</dt>
        <dd><input type="text" class="itxt" size="30" /></dd>
      </dl>
      <dl>
        <dt>角色说明：</dt>
        <dd><input type="text" class="itxt" size="30" /></dd>
      </dl>
      <dl>
        <dt>资源：</dt>
        <dd></dd>
      </dl>
    </div>
    
    
    <!--btn-->
    <div class="comForm">
      <dl>
        <dt>&nbsp;</dt>
        <dd>
          <span class="sbtnb">
            <input name="" type="button" class="ibtnb" value="添加" onclick="location.href='step_2.html'" />
          </span>
          <span class="sbtng ml15">
            <input name="" type="button" class="ibtng" value="取消" onclick="location.href='step_2.html'" />
          </span>
        </dd>
      </dl>
    </div>
    
  </div>
</div>
</div>
<div class="clear"></div>


{part "/main.main.footer"}

</body>
</html>
