<!DOCTYPE html>
<html>
<head>
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.admin"}
<!--main-->
<div class="main" style="position:relative; padding:0;">
    <!--mcon start-->
    <div class="main-right" style="margin-left:0;">
    	<div class="block">
			<div id="user-info" class="panel panel-white panel-squared">
				<div class="panel-heading border-light">
					<h4 class="panel-title">可选操作</h4>
				</div>
				<div class="panel-body">
					<form action="" method="get">
						<div class="toolbar-filter" style="float:left;">
							<button type="button" class="btn btn-sm btn-squared btn-success" data-toggle="dropdown" style="width:100px;">
							{if $_GET['enable']?1:0}
								{foreach($enableList as $statusCode=>$statisText)}
									{if $_GET['enable']==$statusCode}
										{$statisText}
									{/if}
								{/foreach}
							{else}
								运行状态
							{/if}
							<span class="caret"></span>
				            </button>
				            <ul class="dropdown-menu" role="menu" style="left: 14px; top: 78px;">
								{foreach($enableList as $statusCode=>$statisText)}
				            		<li>
				            			{if $_GET['verify']?1:0}
				            				<a href="/baichuan_advertisement_manage/admin.plan.list?uid={$_GET['uid']}&enable={$statusCode}&nav=3&verify={$_GET['verify']}">{$statisText}</a>
				            			{else}
				            				<a href="/baichuan_advertisement_manage/admin.plan.list?uid={$_GET['uid']}&enable={$statusCode}&nav=3">{$statisText}</a>
				            			{/if}
					                </li>
								{/foreach}
									<li>
									{if $_GET['verify']?1:0}
					                    <a href="/baichuan_advertisement_manage/admin.plan.list?uid={$_GET['uid']}&nav=3&verify={$_GET['verify']}">全部</a>
									{else}
					                    <a href="/baichuan_advertisement_manage/admin.plan.list?uid={$_GET['uid']}&nav=3">全部</a>
									{/if}
					                </li>
				            </ul>
						</div>
						
						<div class="toolbar-filter" style="float:left;">
							<button type="button" class="btn btn-sm btn-squared btn-success" data-toggle="dropdown" style="width:100px;">
				            {if $_GET['verify']?1:0}
								{foreach($verifyList as $verifyCode=>$verifyText)}
									{if $_GET['verify']==$verifyCode}
										{$verifyText}
									{/if}
								{/foreach}
							{else}
								审核状态
							{/if}<span class="caret"></span>
				            </button>
				            <ul class="dropdown-menu" role="menu" style="left: 114px; top: 78px;">
								{foreach($verifyList as $verifyCode=>$verifyText)}
				            		<li>
				            			{if $_GET['enable']?1:0}
				            				<a href="/baichuan_advertisement_manage/admin.plan.list?uid={$_GET['uid']}&verify={$verifyCode}&nav=3&enable={$_GET['enable']}">{$verifyText}</a>
				            			{else}
				            				<a href="/baichuan_advertisement_manage/admin.plan.list?uid={$_GET['uid']}&verify={$verifyCode}&nav=3">{$verifyText}</a>
				            			{/if}
					                    
					                </li>
								{/foreach}
									<li>
										{if $_GET['enable']?1:0}
											<a href="/baichuan_advertisement_manage/admin.plan.list?uid={$_GET['uid']}&nav=3&enable={$_GET['enable']}">全部</a>
										{else}
					                    	<a href="/baichuan_advertisement_manage/admin.plan.list?uid={$_GET['uid']}&nav=3">全部</a>
										{/if}
					                </li>
				            </ul>
							注意：这里指广告计划的状态，而非广告素材
						</div>
						<div style="float: right; position: relative;">
							<a class="btn btn-xs btn-squared btn-default" href="#" onclick="hideItem()">切换视图</a>
							<a class="btn btn-xs btn-squared btn-default" href="/baichuan_advertisement_manage/ad.plan?status=0&uid={$_GET['uid']}" target="_blank">广告主视图</a>
						</div>
						<style>
							.hidden-item { display:none; } 
						</style>
						<script>
							function hideItem(){
								$(".table-item-ad").toggle();
							}
						</script>
					</form>
				</div>
			</div>
			<table class="table table-striped table-hover table-bordered table-responsive">
				<thead>
					<tr>
						<th width="40" 	style="text-align:center;">广告计划ID</th>
						<th width="400" style="text-align:center;">详细信息</th>
						<th width="100" style="text-align:center;">开始日期</th>
						<th width="100" style="text-align:center;">结束日期</th>
						<th width="80" style="text-align:center;">运行状态</th>
						<th width="80" style="text-align:center;">广告计划类型</th>
						<th width="80" style="text-align:center;">曝光总量（CPM）</th>
						<th width="80" style="text-align:center;">CPT总量（天）</th>
						<th width="140" style="text-align:center;" class="table-item-ad">广告ID</th>
						<th width="140" style="text-align:center;" class="table-item-ad">广告名称</th>
						<th width="140" style="text-align:center;" class="table-item-ad">广告类型</th>
						<th width="140" style="text-align:center;" class="table-item-ad">宽度</th>
						<th width="140" style="text-align:center;" class="table-item-ad">高度</th>
						<th width="140" style="text-align:center;" class="table-item-ad">修改时间</th>
						<th width="120" style="text-align:center;" class="table-item-ad">审核状态</th>
						<th width="120" style="text-align:center;" class="table-item-ad">运行状态</th>
					</tr>
				</thead>
				<tbody>
					{foreach $planList as $plan}
						<tr>
							<td style="text-align:center;"  rowspan="{count($planAd[$plan['plan_id']])+1}">{$plan['plan_id']}</td>
							<td style="text-align:left;word-break: break-all;max-width: 210px;"  	rowspan="{count($planAd[$plan['plan_id']])+1}">
								<p><span>计划名称：</span><a href="/baichuan_advertisement_manage/ad.plan.list.{$plan['plan_id']}" target="_blank">{$plan['plan_name']}</a></P>
								<p><span>修改时间：</span>{date("Y-m-d H:i:s",$plan['mtime'])}</P>
								<p><span>审核状态：</span>{$verifyList[$plan['verified_or_not']]}</P>
							</td>
							<td style="text-align:center;"  rowspan="{count($planAd[$plan['plan_id']])+1}">{date("Y-m-d",$plan['start_date'])}</td>
							<td style="text-align:center;"  rowspan="{count($planAd[$plan['plan_id']])+1}">{if(strlen($plan['end_date'])<2)}不限{else}{date("Y-m-d",$plan['end_date'])}{/if}</td>
							<td style="text-align:center;"  rowspan="{count($planAd[$plan['plan_id']])+1}">{$enableList[$plan['enable']]}</td>
							<td style="text-align:center;"  rowspan="{count($planAd[$plan['plan_id']])+1}">
								{if $plan['contract_type'] ==1}
									竞价制广告
								{elseif $plan['contract_type'] ==2}
									合约制广告
								{else}
								     未知
								{/if}
							</td>
							<td style="text-align:center;"  rowspan="{count($planAd[$plan['plan_id']])+1}">{$plan['total_cpm']}</td>
							<td style="text-align:center;"  rowspan="{count($planAd[$plan['plan_id']])+1}">{$plan['total_cpt']}</td>
							{if(count($planAd[$plan['plan_id']])==0)}
								<td style="text-align:center;" class="table-item-ad"></td>
								<td style="text-align:center;" class="table-item-ad"></td>
								<td style="text-align:center;" class="table-item-ad"></td>
								<td style="text-align:center;" class="table-item-ad"></td>
								<td style="text-align:center;" class="table-item-ad"></td>
								<td style="text-align:center;" class="table-item-ad"></td>
								<td style="text-align:center;" class="table-item-ad"></td>
								<td style="text-align:center;" class="table-item-ad"></td>
							{/if}
						</tr>
						
						{if(count($planAd[$plan['plan_id']])>0)}
							{foreach($planAd[$plan['plan_id']] as $adInfo)}
								<tr {if($adInfo['play_status'] != 1)}style="color:#AAAAAA;"{/if}>
									<td style="text-align:center;" class="table-item-ad">
										<a href="/baichuan_advertisement_manage/ad.group.list.{$plan['plan_id']}.{$adInfo['group_id']}" target="_blank">
											{$adInfo['adid']}
										</a>
									</td>
									<td style="text-align:left;word-break: break-all;max-width: 210px;" class="table-item-ad">
										<a href="/baichuan_advertisement_manage/ad.preview.entry.{$adInfo['adid']}" target="_blank">
											{$adInfo['adname']}
										</a>
									</td>
									<td style="text-align:center;" class="table-item-ad">{$adTypeList[$adInfo['adType']]}</td>
									<td style="text-align:center;" class="table-item-ad">{$adInfo['width']}</td>
									<td style="text-align:center;" class="table-item-ad">{$adInfo['height']}</td>
									<td style="text-align:center;" class="table-item-ad">{date("Y-m-d H:i:s",$adInfo['mtime'])}</td>
									<td style="text-align:center;" class="table-item-ad">{$verifyList[$adInfo['verified_or_not']]}</td>
									<td style="text-align:center;" class="table-item-ad">{$enableList[$adInfo['play_status']]}</td>
								</tr>
							{/foreach}
						{/if}
					{/foreach}
				</tbody>
				<tfoot></tfoot>
			</table>
		</div>
	</div>
</div>
<script>
;
function deleteUserByUid(uid){
    var msg = "确认禁用该用户？";
    var url = "/baichuan_advertisement_manage/admin.user.delete?uid=" + uid;
    layerConfirmGet(url, msg);
}
</script>
{part "/main.main.footer"}
</body>
</html>