<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>广告投放管理平台</title>
<link type="text/css" rel="stylesheet" href="../css/style.css" />
<script src="../js/jquery-1.2.6.pack.js" type="text/javascript"></script> 
<script type="text/javascript" src="../js/pop.js"></script>
<script type="text/javascript" src="../js/formSel.js"></script>
</head>

<body>

<!--top-->
<div class="top">
  <div class="tlogo"><img src="../images/logo.png" alt="广告推广平台" /></div>
  <div class="tr">
    <div class="weluser">您好,<strong>Retinas</strong>[<a href="#">退出</a>]</div>
    <div class="trlink">
      <a href="#"><img class="fl" src="../images/i_email.gif" alt="消息" /><span class="trlmsg">(10)</span></a>
      <a href="#"><img src="../images/i_help.gif" alt="帮助"  align="absmiddle" /></a>
    </div>
  </div>
</div>

<!--nav-->
<div class="nav">
    <div class="navd"><a class="home" href="#" title="首页"></a></div>
    <div class="navd ggnavd">
      <a class="gg" href="#" title="广告管理"></a>
      <div class="gg2nav">
        <a href="#">广告计划</a>
        <a href="#">广告组</a>
        <a href="#">素材</a>
      </div>
    </div>
    <div class="navd"><a class="rq" href="#" title="人群管理"></a></div>
    <div class="navd sel"><a class="mt" href="#" title="媒体列表"></a></div>
    <div class="navd"><a class="cw" href="#" title="财务管理"></a></div>
    <div class="navd"><a class="zh" href="#" title="账户管理"></a></div>
    <div class="navd"><a class="gj" href="#" title="高级管理"></a></div>
    <div class="navd"><a class="gj" href="#" title="运营审核"></a></div>
  </div>

<!--main-->
<div class="main">
  <!--side-->
  <div class="side">
  
    <div class="leftNav">
      <ul>
        <li class="sel"><a href="#">待审核广告</a></li>
        <li class="nobotbor"><a href="#">已审核广告</a></li>
      </ul>
    </div>

  </div>
  
  <!--mcon start-->
  <div class="mcon">
  
    <!--toolbar start--> 
    <div class="toolbar-45">
        <div id="zhuantai" class="selMenu smzt">
          <span class="smtit">全部广告主</span>
          <ul>
            <li><a href="javascript:;">全部广告主</a></li>
            <li><a href="javascript:;">新浪</a></li>
          </ul>
        </div>
        <div id="zhuantai" class="selMenu smzt ml10">
          <span class="smtit">全部广告计划</span>
          <ul>
            <li><a href="javascript:;">全部广告计划</a></li>
            <li><a href="javascript:;">巧乐兹</a></li>
          </ul>
        </div>
        <div id="zhuantai" class="selMenu smzt ml10">
          <span class="smtit">全部广告组</span>
          <ul>
            <li><a href="javascript:;">全部广告组</a></li>
            <li><a href="javascript:;">巧乐兹</a></li>
          </ul>
        </div>
        <div id="zhuantai" class="selMenu smzt ml10">
          <span class="smtit">全部素材</span>
          <ul>
            <li><a href="javascript:;">全部素材</a></li>
            <li><a href="javascript:;">巧乐兹</a></li>
          </ul>
        </div>
          <div class="selMenu ml10">
            <div class="smtbg">
              <input type="text" class="itxt_1 fl idate" value="2012-05-23" size="15" />
              <div class="fl">&nbsp;至&nbsp;</div>
              <input type="text" class="itxt_1 fl idate" value="结束时间" size="15" />
            </div>
          </div>
          <span class="iSearch ml10">
             <a class="isicon" href="#"><img src="/baichuan_advertisement_manage/assets_admin/img/i_search.gif" alt="搜索" /></a>
             <input type="text" class="itxt fc7" value="" size="30" />
          </span>
    </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="reportab">
      <tr>
        <th>广告主</th>
        <th>广告计划</th>
        <th>广告组</th>
        <th>素材名称</th>
        <th>素材尺寸</th>
        <th>类型</th>
        <th>状态</th>
        <th>目标地址</th>
        <th>上传时间</th>
        <th>有效期</th>
        <th>预览</th>
        <th>审核状态</th>
      </tr>
      <tr>
        <td>新浪</td>
        <td>巧乐兹推广</td>
        <td>品牌推广</td>
        <td>Flash</td>
        <td>250*120</td>
        <td>flash</td>
        <td>通过</td>
        <td>www.sina.com.cn</td>
        <td>2013-12-09</td>
        <td>2013-12-09 9:00至2014-12-09 9:00</td>
        <td><a href="#">预览</a></td>
        <td>通过</td>
      </tr>
    </table>
    
    <!--turnpage start-->
    <div class="turnpage">
      <a href="#"><em>&lt;&lt;</em>上一页</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <span>...</span>
      <a href="#">65</a>
      <a href="#">下一页<em>&gt;&gt;</em></a>
    </div>
    <!--turnpage end-->
    
    
  </div>
  <!--mcon end-->
  
</div>


{part "/main.main.footer"}
</body>
</html>
