<!DOCTYPE html>
<html>
<head>
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.admin"}
<!--main-->
<div class="main" style="position:relative; padding:0;">
    <div >
    	<div class="block">
			<div id="user-info" class="panel panel-white panel-squared">
				<div class="panel-heading border-light">
					<h3 class="panel-title">广告审核日志</h3>
				</div>
				<div class="panel-body">
					<form action="admin.shenhelog" method="get">
						<input name="nav" type="hidden" value="4">
						<div class="form-group">
							<div class="col-sm-2">
								<input type="text" class="form-control idate " name="start" value="{$start}" placeholder="开始时间" size="15" />
							</div>
							<div class="col-sm-2">
								<input type="text" class="form-control idate" name="end" value="{$end}"  placeholder="结束时间" size="15" />
							</div>
							<div class="col-sm-2">
								<input type="text" class="form-control" name="uid" value="{$uid}" placeholder="审核人id">
							</div>
							<div class="col-sm-2">
								<!--
								<input type="text" class="form-control" name="code" value="{$code}" placeholder="操作代码">
								-->
								<select class="form-control" name="code" >
									<option value="" {if empty($code)} selected="selected"{/if}>所有操作</option>
									<option value="112" {if $code==112 } selected="selected"{/if}>112:计划由等待转通过</option>
									<option value="113" {if $code==113 } selected="selected"{/if}>113:计划由等待转拒绝</option>
									<option value="123" {if $code==123 } selected="selected"{/if}>123:计划由通过转拒绝</option>
									<option value="121" {if $code==121 } selected="selected"{/if}>121:计划由通过转等待</option>
									<option value="132" {if $code==132 } selected="selected"{/if}>132:计划由拒绝转通过</option>
									<option value="131" {if $code==121 } selected="selected"{/if}>121:计划由拒绝转等待</option>
									<option value="212" {if $code==212 } selected="selected"{/if}>212:素材由等待转通过</option>
									<option value="213" {if $code==213 } selected="selected"{/if}>213:素材由等待转拒绝</option>
									<option value="223" {if $code==223 } selected="selected"{/if}>223:素材由通过转拒绝</option>
									<option value="221" {if $code==221 } selected="selected"{/if}>221:素材由通过转等待</option>
									<option value="232" {if $code==232 } selected="selected"{/if}>232:素材由拒绝转通过</option>
									<option value="231" {if $code==231 } selected="selected"{/if}>231素材由拒绝转等待</option>
								</select>
							</div>
							<div class="col-sm-1">
									<input class="btn btn-success btn-squared" type="submit" value="查询">
							</div>
						</div>
					</form>
					<div class="mt-10" style="margin-bottom: 65px;"></div>
					<table class="table table-striped table-hover table-bordered table-responsive ">
						<thead>
							<tr>
								<th style="text-align:center;" >id</th>
								<th style="text-align:center;" >审核人员</th>
								<th style="text-align:center;" >申请人员</th>
								<th style="text-align:left;" >审核对象</th>
								<th style="text-align:center;" >操作代码</th>
								<th style="text-align:center;" >时间</th>
								<th style="text-align:left; max-width: 300px;" >备注</th>

							</tr>
						</thead>
						<tfoot>
							<tr style="background-color: #EEEEEE; font-weight: bold; display: none">
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tfoot>
						<tbody>
							{foreach $list as $item}
							<tr>
								<td style="text-align:center;">{$item['id']}</td>
								<td style="text-align:left;"><a href="/baichuan_advertisement_manage/admin.user.detail?uid={$item['operate_uid']}">{$item['operate_uid']}</a></td>
								<td style="text-align:left;"><a href="/baichuan_advertisement_manage/admin.user.detail?uid={$item['target_uid']}">{$item['target_uid']}</a></td>
								<td style="text-align:left;">{$item['object_id']}</td>
								<td style="text-align:center;">{$item['operate_num']}</td>
								<td style="text-align:center;">{date('Y-m-d H:i:s',$item['time'])}</td>
								<td style="text-align:left;">{$item['note']}</td>
							</tr>
							{/foreach}
							
						</tbody>
					</table>
					<div class="turnpage">
						{turnpager $totalPage|html }
					</div>
				</div>
		
			</div>
		</div>
	</div>
</div>
<script>
	$(".idate").datepicker({ dateFormat: "yy-mm-dd" ,maxDate:1}); 
</script>
{part "/main.main.footer"}
<div style="height:60px;">&nbsp</div>
</body>
</html>
