<a class="btn btn-squared btn-success" href="/baichuan_advertisement_manage/admin.system.addtag" style="width: 100%; background: #12C043;">添加标签</a>
<!-- <a class="btn btn-squared btn-success" href="/baichuan_advertisement_manage/tag.area.edit" style="width: 100%; background: #12C043;">新建商圈</a> -->
<div class="accordion" >
	<h2>自定义标签</h2>
	<a href="/baichuan_advertisement_manage/admin.system.tag">
		<h3 class="bort">标签列表</h3>
	</a>
<!-- 	<a href="/baichuan_advertisement_manage/tag.area">
		<h3 class="bort">商圈管理</h3>
	</a> -->
</div>
