<!DOCTYPE html>
<html>
<head>
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.admin"}

<!--main-->
<div class="main">
  <!--side-->
  <div class="side">
  
    <div class="leftNav">
      <ul>
        <li><a href="#">管理广告主</a></li>
        <li><a href="#">管理用户</a></li>
        <li class="nobotbor"><a href="#">角色管理</a></li>
      </ul>
    </div>

  </div>
  
  <!--mcon start-->
  <div class="mcon">
  
    <h1 class="mtit">管理用户</h1>
    <!--toolbar start--> 
    <div class="toolbar mt20">
     <div class="fl"><span class="sbtnb"><a class="ibtnb" href="#">添加用户</a></span></div>
     <div class="fr">
        <span class="iSearch ml10">
           <a class="isicon" href="#"><img src="/baichuan_advertisement_manage/assets_admin/img/i_search.gif" alt="搜索" /></a>
           <input type="text" class="itxt fc7" value="用户" size="30" />
        </span>
      </div><div class="clear"></div>
    </div>
      
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="reportab mt20">
      <tr>
        <th>联系人</th>
        <th>电子邮箱</th>
        <th>联系电话</th>
        <th>角色</th>
        <th>账户状态</th>
      </tr>
      <tr>
        <td>丽斯大</td>
        <td><a href="#">lida@sian.com.cn</a></td>
        <td>136778990</td>
        <td>测试</td>
        <td>开</td>
      </tr>
    </table>
    
    <!--turnpage start-->
    <div class="turnpage">
      <a href="#"><em>&lt;&lt;</em>上一页</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <span>...</span>
      <a href="#">65</a>
      <a href="#">下一页<em>&gt;&gt;</em></a>
    </div>
    <!--turnpage end-->
    
  </div>
  <!--mcon end-->
  
</div>



{part "/main.main.footer"}

</body>
</html>
