<!DOCTYPE html>
<!--[if IE 8]><html class="ie8" lang="cn"><![endif]--><!--[if IE 9]><html class="ie9" lang="cn"><![endif]-->
<!--[if !IE]><!-->
    <html lang="cn">
    <!--<![endif]-->
    <head>
        <title>{$ad['adname']}</title>
        <meta charset="utf-8" />
        <!--[if IE]><meta https-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="keywords" content="">
		<style>
			html,body{ width:100%; height:100%; margin:0; overflow:hidden; border:none; }
		</style>
    </head>
    <body>
    	{$ad['text']}
		<span style="display:none;">
			{$ad['show_js']}
		</span>
	</body>
</html>