BCMain.Info.{$sn}= {
	sn: "{$sn}",
	data: {
	 aid: {$stuff['adid']},
	 show_js: "{$config->host->ads}/show.js",
	 click_js: "{$config->host->ads}/click.js",
	 third_show_js: "{urlencode($stuff['show_js'])}",
	 third_click_js: "{urlencode($stuff['click_js'])}",
	 src: 0,
	 view_type: {$stuff['adType']},
	 view_position: "{$stuff['colum2']}",
	 pushid: "311c004d9766e08d67ee8afbb868b06",
	 h: {$stuff['height']},
	 w: {$stuff['width']},
	 staff: [{
		 "addr": "{$stuff['addr']}",
		 "adid": {$stuff['adid']},
		 "crop": "",
		 "ctime": 1384832049,
		 "desc": "",
		 "enabled": "RUNNING",
		 "group_id": {$stuff['group_id']},
		 "group_name": "",
		 "height": {$stuff['height']},
		 "width": {$stuff['width']},
		 "landing_page": "{$stuff['landing_page']}",
		 "media_name": "",
		 "mtime": 1384832049,
		 "name": "",
		 "plan_id": {$stuff['plan_id']},
		 "plan_name": "",
		 "stuff_id": {$stuff['stuff_id']},
		 "thumb": "",
		 "title": "",
		 "type": "{$stuff['type']}",
		 "text": "{$stuff['text']}",
		 "uid": 1,
		 "verified_or_not": 0,
		 "version": 0
	 }]
	}
};
