<!DOCTYPE html>
<html>
<head>
<meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.media"}
<script src="/baichuan_advertisement_manage/assets_admin/highcharts/js/highcharts.js" ></script>
<!--main-->

<!--main-->
<div class="main">
  <div class="side">
  {part ("/media.main.nav")} 



      </div>
  </div>
  
  <!--mcon start-->
  <div class="mcon">
  
    <div class="crumbLink"><a href="/baichuan_advertisement_manage/media">媒体管理</a>&nbsp;&gt;&nbsp;<a href="/baichuan_advertisement_manage/media.slot">广告位</a>&nbsp;&gt;&nbsp;新建</div>
  
    <!--基本信息-->
    <div class="comForm">
      <h1>新建广告位</h1>
      <dl>
        <dt>媒体：</dt>
        <dd><input type="text" class="itxt" size="30" /></dd>
        <dd class="tips_correct"></dd>
      </dl>
      <dl>
        <dt>网站：</dt>
        <dd><input type="text" class="itxt" size="30" /></dd>
      </dl>
      <dl>
        <dt>广告位名称：</dt>
        <dd><input type="text" class="itxt" size="30" /></dd>
      </dl>
      <dl>
        <dt>所在页面URL：</dt>
        <dd><input type="text" class="itxt" size="30" /></dd>
      </dl>
      <dl>
        <dt>展现形式：</dt>
        <dd>
          <label class="irad" for="qg"><input name="dxdq" id="qg" type="radio" value="" /> 首屏</label>
          <label class="irad ml20" for="xztf"><input name="dxdq" id="xztf" type="radio" value="" onClick="ShowDIV('preg')" /> 非首屏</label>
        </dd>
      </dl>
      <dl>
        <dt>所在页面URL：</dt>
        <dd><input type="text" class="itxt" size="30" /></dd>
      </dl>
      <dl>
        <dt>尺寸(宽*高)：</dt>
        <dd>
            <select id="selYear">
              <option>请选择</option>
              <option>400*300</option>
            </select>
        </dd>
      </dl>
      <dl>
        <dt>低价：</dt>
        <dd><input type="text" class="itxt" size="30" />分/千次曝光</dd>
      </dl>
      <dl>
        <dt>物料类型：</dt>
        <dd>
          <label class="" for="mrf"><input name="rqxz" id="mrf" type="checkbox" value="" /> 全部</label>
          <label class="ml30" for="mrf"><input name="rqxz" id="mrf" type="checkbox" value="" /> gif</label>
          <label class="ml30" for="mrf"><input name="rqxz" id="mrf" type="checkbox" value="" /> jpg</label>
          <label class="ml30" for="mrf"><input name="rqxz" id="mrf" type="checkbox" value="" /> png</label>
          <label class="ml30" for="mrf"><input name="rqxz" id="mrf" type="checkbox" value="" /> swf</label>
        </dd>
      </dl>
      <dl>
        <dt>投放黑名单：</dt>
        <dd>
        <label class="" for="mrf"><input name="rqxz" id="mrf" type="checkbox" value="" /> 不限</label>
        <label class="ml30" for="mrf" id="mtym" onClick="ShowDIV('phmd')"><input name="rqxz" id="mrf" type="checkbox" value="" /> 设置黑名单</label>
          <!--遮罩pop start-->
          <div id="BgDiv"></div>
          <div id="phmd" class="popdiv pop_hmd" style="display:none">
            <div class="dbg">
              <div class="pmain">
              <div class="ptit">
                <div class="ptname">设置黑名单</div>
                <div class="ptclose"><a href="javascript:;" id="btnClose" onClick="closeDiv('phmd')"><img src="../images/i_close.png" alt="关闭" /></a></div>
              </div>
              <div class="dcon">
              
                  <div class="toolbar">
                    <div id="zhuantai" class="selMenu smw_1">
                      <span class="smtit">广告主</span>
                      <ul>
                        <li><a href="javascript:;">所有媒体</a></li>
                        <li><a href="javascript:;">新浪</a></li>
                      </ul>
                    </div>
                    <div id="zhuantai" class="selMenu smw_1 ml10">
                      <span class="smtit">素材类型</span>
                      <ul>
                        <li><a href="javascript:;">所有类型</a></li>
                        <li><a href="javascript:;">综合</a></li>
                      </ul>
                    </div>
                    <span class="iSearch ml10">
                       <a class="isicon" href="#"><img src="../images/i_search.gif" alt="搜索" /></a>
                       <input type="text" class="itxt fc7" value="素材名称" size="30" />
                    </span>
                  </div> 
                  
                  <div class="mt20 clear">
                  <table class="listab" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <th scope="col">已允许或已屏蔽</th>
                      <th scope="col">类别名称</th>
                    </tr>
                    <tr>
                      <td><div class="xzif"><a class="sel" href="">允许</a><a href="">屏蔽</a></div></td>
                      <td>消费食品</td>
                    </tr>
                  </table>
                  <!--turnpage start-->
                  <div class="turnpage">
                    <a href="#"><em>&lt;</em> 上一页</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <span>...</span>
                    <a href="#">65</a>
                    <a href="#">下一页 <em>&gt;</em></a>
                  </div>
                  <!--turnpage end-->
                  
                  <div class="mt20 clear">
                    输入屏蔽广告客户名单<br />
                    <textarea name="" cols="100" rows="7"></textarea>
                  </div>
                  
                  
                  </div>
                                   
                  <div class="dpbtn">
                    <div class="fr">
                      <span class="sbtnb ml30"><input name="" type="button" class="ibtnb" value="确定" onClick="closeDiv('phmd')" /></span>
                      <span class="sbtng ml15"><input name="" type="button" class="ibtng" value="取消" onClick="closeDiv('phmd')" /></span>
                    </div>
                  </div>
                  

              </div>
              </div>
            </div>
          </div>
          <!--遮罩pop end-->
        </dd>
      </dl>
      <dl>
        <dt>第三方素材审核：</dt>
        <dd>
          <label class="irad" for="qg"><input name="dxdq" id="qg" type="radio" value="" /> 审核</label>
          <label class="irad ml20" for="xztf"><input name="dxdq" id="xztf" type="radio" value="" /> 不审核</label>
        </dd>
      </dl>
      <dl>
        <dt>备注：</dt>
        <dd><textarea cols="50" rows="5"></textarea></dd>
      </dl>
    </div>
    
    <!--btn-->
    <div class="comForm">
      <dl>
        <dt>&nbsp;</dt>
        <dd>
          <span class="sbtnb">
            <input name="" type="button" class="ibtnb" value="保存"  />
          </span>
          <span class="sbtng ml20">
            <input name="" type="button" class="ibtng" value="取消" />
          </span>
        </dd>
      </dl>
    </div>
    
  </div>
  <!--mcon end-->
  
</div>
{part "/main.main.footer"}
</body>
</html>
