<!DOCTYPE html>
<html>
<head>
<meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.media"}
<script src="/baichuan_advertisement_manage/assets_admin/highcharts/js/highcharts.js" ></script>
<!--main-->

<!--main-->
<div class="main">
  <div class="side">
  {part ("/media.main.nav")} 
  </div>
  
  <!--mcon start-->
  <div class="mcon">
  
    <div class="crumbLink"><a href="#">媒体管理</a>&nbsp;&gt;&nbsp;广告位</div>
    
    <!--基本信息-->
    <div class="comForm">
      <h1>上传素材</h1>
      <dl>
        <dt><em class="fcr fs12">*</em> 广告主：</dt>
        <dd><input type="text" class="itxt" size="30" /></dd>
        <dd class="tips_correct"></dd>
      </dl>
      <dl>
        <dt><em class="fcr fs12">*</em> 素材：</dt>
        <dd>
          <div class="clear">
            <input class="fl mt10" name="tf" id="pp" type="radio" value="" />
            <span class="sbtng fl ml10"><input name="" type="button" class="ibtng" value="本地上传" /></span>
          </div>
          <div class=" mt20 clear">
            <input class="fl mt10" name="tf" id="xg" type="radio" value="" />
            <input class="itxt fl ml10" type="text" size="30" />
            <span class="sbtng fl ml10"><input name="" type="button" class="ibtng" value="解析URL" /></span>
          </div>
        </dd>
      </dl>
    </div>
    
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="listab mt20 fs14">
        <tr>          
          <th>素材预览</th>
          <th>名称</th>
          <th>类型</th>
          <th>尺寸</th>
          <th class="tac">关联广告位</th>
          <th class="tac">LandingPage</th>
          <th>第三方监控</th>
        </tr>
        <tr>            
          <td><img src="../images/tmp_ad.jpg" /></td>
          <td>食品</td>
          <td>食品</td>
          <td>350</td>
          <td class="tac">
          <a onClick="ShowDIV('plinksc')" href="#">变更</a>
          <!--遮罩pop start-->
          <div id="BgDiv"></div>
          <div id="plinksc" class="popdiv pop_linksc" style="display:none">
            <div class="dbg">
              <div class="pmain">
              <div class="ptit">
                <div class="ptname">关联广告位</div>
                <div class="ptclose"><a href="javascript:;" id="btnClose" onClick="closeDiv('plinksc')"><img src="../images/i_close.png" alt="关闭" /></a></div>
              </div>
              <div class="dcon">
              
                  <div class="toolbar">
                    <div id="zhuantai" class="selMenu smw_1">
                      <span class="smtit">媒体类型</span>
                      <ul>
                        <li><a href="javascript:;">所有类型</a></li>
                        <li><a href="javascript:;">综合</a></li>
                      </ul>
                    </div>
                    <div id="zhuantai" class="selMenu smw_1 ml10">
                      <span class="smtit">尺寸</span>
                      <ul>
                        <li><a href="javascript:;">所有媒体</a></li>
                        <li><a href="javascript:;">新浪</a></li>
                      </ul>
                    </div>
                    <div class="fl ml10">
                      <span class="iSearch">
                         <a class="isicon" href="#"><img src="../images/i_search.gif" alt="搜索" /></a>
                         <input type="text" class="itxt fc7" value="媒体/广告位" size="30" />
                      </span>
                    </div>
                    <div class="clear"></div>
                  </div> 
                  
                  <div class="mt20 clear">
                  <table class="listab" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <th scope="col">&nbsp;</th>
                      <th scope="col">媒体类型</th>
                      <th scope="col">媒体名称</th>
                      <th scope="col">广告位名称</th>
                      <th scope="col">尺寸</th>
                    </tr>
                    <tr>
                      <td><input name="" type="checkbox" value="" /></td>
                      <td>大众汽车</td>
                      <td>汽车320</td>
                      <td>汽车</td>
                      <td>320*150</td>
                    </tr>
                  </table>
                  <!--turnpage start-->
                  <div class="turnpage">
                    <a href="#"><em>&lt;</em> 上一页</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <span>...</span>
                    <a href="#">65</a>
                    <a href="#">下一页 <em>&gt;</em></a>
                  </div>
                  <!--turnpage end-->
                  </div>
                                   
                  <div class="dpbtn">
                    <div class="fr">
                      <span class="sbtnb ml30"><input name="" type="button" class="ibtnb" value="确定" onClick="closeDiv('plinksc')" /></span>
                      <span class="sbtng ml15"><input name="" type="button" class="ibtng" value="取消" onClick="closeDiv('plinksc')" /></span>
                    </div>
                  </div>

              </div>
              </div>
            </div>
          </div>
          <!--遮罩pop end-->
          </td>
          <td class="tac"><a href="#">地址</a></td>
          <td>&nbsp;</td>
        </tr>
      </table>
   
    <!--btn-->
    <div class="comForm">
      <dl>
        <dt>&nbsp;</dt>
        <dd>
          <span class="sbtnb">
            <input name="" type="button" class="ibtnb" value="提交"  />
          </span>
          <span class="sbtng ml20">
            <input name="" type="button" class="ibtng" value="取消" />
          </span>
        </dd>
      </dl>
    </div>
    
  </div>
  <!--mcon end-->
  
</div>
{part "/main.main.footer"}
</body>
</html>
