<!DOCTYPE html>
<html>
<head>
<meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.media"}
<script src="/baichuan_advertisement_manage/assets_admin/highcharts/js/highcharts.js" ></script>
<!--main-->

<!--main-->
<div class="main">
  <div class="side">
  {part ("/media.main.nav")} 



      </div>
  </div>
  
  <!--mcon start-->
  <div class="mcon">
  
    <div class="crumbLink"><a href="#">媒体管理</a>&nbsp;&gt;&nbsp;广告位</div>
  
    <!--toolbar start--> 
    <div class="toolbar mt20">
    
      <span class="sbtnb"><input name="" type="button" class="ibtnb" value="上传素材" /></span>
      
      <div id="zhuantai" class="selMenu smw_1 ml30">
        <span class="smtit">广告主</span>
        <ul>
          <li><a href="javascript:;">所有广告主</a></li>
          <li><a href="javascript:;">广告主</a></li>
        </ul>
      </div>
      
      <div id="zhuantai" class="selMenu smw_1 ml10">
        <span class="smtit">素材类型</span>
        <ul>
          <li><a href="javascript:;">所有类型</a></li>
          <li><a href="javascript:;">广告主</a></li>
        </ul>
      </div>
      
      <div id="zhuantai" class="selMenu smw_1 ml10">
        <span class="smtit">尺寸</span>
        <ul>
          <li><a href="javascript:;">所有尺寸</a></li>
          <li><a href="javascript:;">广告主</a></li>
        </ul>
      </div>
      
      <div class="selMenu ml10">
        <div class="smtbg">
          <input type="text" class="itxt_1 fl idate" value="2012-05-23" size="15" />
          <input type="text" class="itxt_1 fl idate" value="结束时间" size="15" />
        </div>
      </div>
      
      <span class="iSearch ml10">
         <a class="isicon" href="#"><img src="../images/i_search.gif" alt="搜索" /></a>
         <input type="text" class="itxt fc7" value="素材名称" size="30" />
      </span>
      <div class="clear"></div>
    </div>
    <!--toolbar end--> 
    
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="listab mt20 fs14">
        <tr>          
          <th><input name="" type="checkbox" value="" /></th>
          <th>预览</th>
          <th>类型</th>
          <th>尺寸</th>
          <th>名称</th>
          <th class="tac">状态</th>
          <th class="tac">关联广告位</th>
          <th class="tac">LandingPage</th>
          <th class="tac">创建时间</th>
          <th>操作</th>
        </tr>
        <tr>            
          <td><input name="" type="checkbox" value="" /></td>
          <td><img src="../images/tmp_ad.jpg" /></td>
          <td>食品</td>
          <td>302</td>
          <td>新浪网</td>
          <td class="tac">已审核</td>
          <td class="tac"><a href="#">变更</a></td>
          <td class="tac"><a href="#">地址</a></td>
          <td class="tac">2012-05-10</td>
          <td>
            <a href="#">修改</a>
            <a href="#">删除</a>
            <a href="#">三方检测</a>
            <a href="#">报表</a>
          </td>
        </tr>
      </table>
    
    <!--turnpage start-->
    <div class="turnpage">
      <a href="#"><em>&lt;</em> 上一页</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <span>...</span>
      <a href="#">65</a>
      <a href="#">下一页 <em>&gt;</em></a>
    </div>
    <!--turnpage end-->
    
  </div>
  <!--mcon end-->
  
</div>
{part "/main.main.footer"}
</body>
</html>
