<!DOCTYPE html>
<html>
<head>
<meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.media"}
<!--main-->
<div class="main">
  <div class="side">
	{part ("/media.main.nav.channel.list")} 
  </div>
  <!--mcon start-->
  <div class="mcon">
  	<div class="toolbar-bc fl" style="margin-bottom:13px;">
    	<div class="fl sub-title sc-title">
    		<a href="/baichuan_advertisement_manage/media?nav=2">媒体管理</a>
			<i class="fa fa-angle-double-right"></i>
			频道专题
    	</div>
      <form method="get">
        <input name="nav" type="hidden" value="2">
    <div class="fl" >
      <div class="selMenu" style="margin-right:10px">
          <span class="iSearch">
                 <input id="channel_name" name="channel_name" type="text" class="itxt fc7" placeholder="频道名称" value="{$_GET['channel_name']}" size="30" />
              </span>
        </div>
    </div>
    <div class="fr">
      <input type="submit" class="btn btn-squared btn-success" value="搜索">
    </div>
    </form>
	</div>

  <div class="clear"></div>
  <div>
    <!--toolbar start--> 
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="reportab">
      <tr>
        <th class="tac">ID</th>
        <th>频道名称</th>
        <th class="tac">频道标识</th>
        <th>所属媒体</th>
        <th>行业类型</th>
        <th>引流地址</th>
        <th>频道状态</th>
        <th>创建/更新时间</th>
        <th>操作账户</th>
        <th>操作</th>
      </tr>
{foreach $channels as $item}
      <tr>
        <td class="tac">{$item->channel_id}</td>
        <td>{$item->channel_name}</td>
        <td class="tac">{$item->channel_identification}</td>
        <td>{$id2media[$item->media_id]->media_name}</td>
        <td>{$web_types[$id2media[$item->media_id]->media_type]}</td>
        <td>{$id2media[$item->media_id]->reference_addr}</td>
        <td>{$m_status[$item->channel_status]}</td>
        <td>
        创:{date("Y-m-d H:i:s",$item->create_time)}<br/>更:{date("Y-m-d H:i:s",$item->alter_time)}
        </td>
        <td>{$id2name[$item->creator_id]}</td>
        <td><a href="/baichuan_advertisement_manage/media.channel.add.{$item->channel_id}?nav=2&media_id={$item->media_id}">编辑 &nbsp;&nbsp;查看</a><br/>
            <a href="/baichuan_advertisement_manage/media.position.add?media_id={$item->media_id}&channel_id={$item->channel_id}&nav=2">创建位置</a><br/>
            <a href="/baichuan_advertisement_manage/media.position.entry.{$item->channel_id}?nav=2">查看位置</a>
            </td>
      </tr>
{/foreach}
    </table>
  </div>
    <div class="turnpage">
    {turnpager $totalPage|html}
    </div>

  </div>
  <!--mcon end-->
</div>
{part "/main.main.footer"}
</body>
</html>
