<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <div class="top"><h1>DPC配置下发管理系统</h1></div>
        <div class="center">
            <div class="left" style="float:left;">
                <h3><a href="command.main.list">查看配置项</a></h3>
            </div>
        <div class="right" style="float:left;">
            <form method="post" action="/baichuan_advertisement_manage/command.main.add">
                <div>
                    <select id="" name="">
                        <option value="">command1</option>
                        <option value="">command2</option>
                        <option value="">command3</option>
                        <option value="">command4</option>
                        <option value="">command5</option>
                        <option value="">command6</option>
                        <option value="">command7</option>
                        <option value="">command8</option>
                        <option value="">command9</option>
                        <option value="">command10</option>
                    </select>
                    <input name="keyword" type="text" />
                </div>

                    <input name="tijiao" type="submit" value="提交"/>
            </form>
        </div>
        </div>
        <div class="footer"></div>
    </div>
</body>
</html>
