<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
{part "/main.main.header"}
    <style type="text/css">
        h1{
            font-size:18px;
            background:#ddd;
        }
        th{
            font-size:14px;
            height:30px;
			text-align: center;
			background: #EEEEEE;
        }
        td{
            font-size:14px;
            height:30px;
			padding:0 10px;
        }
        table {   
            table-layout: fixed;   
            width: 100%;
			border: 1px solid #CCCCCC; 
        }  
    </style>
</head>
<body>
{part "/main.main.nav.dpc"}
    <div>
        <div class="main">
            <div class="side">
        <div class="leftNav">
      <ul>
        <li class="sel"><a href="/baichuan_advertisement_manage/dpc.main.list">局点DPC设置</a></li>
        <li class="nobotbor"><a href="/baichuan_advertisement_manage/mongo/index.php" target="_blank">高级DPC设置</a></li>
      </ul>
    </div>
            </div>
            <div class="mcon">
                <table border="1">
                    <tbody>
                        <tr>
                            <th>局点</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        {foreach $collection_names as $name}
                            <tr>
                                <td>{$name}</td>
                                <td>正常</td>
                                <td><a href="/baichuan_advertisement_manage/dpc.main.add.{$name}">修改配置</a></td>
                            </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
{part "/main.main.footer"}
    </div>
</body>
</html>
