<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
    {part "/main.main.header"}
</head>
<body class="w-auto">
<div class="container-content p-0 mt-20">
    <div class="panel panel-white" style="margin:0;">
        <div class="panel-body">
            <form method="post" action="{$url['action']}">
                <div id="panel_stuff" class="tab-pane fade  in  active">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 w-100 control-label text-34" for="form-field-1">域名分组</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="group">
                                	{foreach($groups as $id=>$group)}
                                    <option value="{$id}">{$group['name']}</option>
									{/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-10">
                        <div class="form-group">
                            <label class="col-sm-2 w-100 control-label text-34" for="form-field-1">域名规则</label>
                            <div class="col-sm-9">
                            	<textarea class="form-control" name="rule" rows="20"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-10">
                        <div class="form-group">
                            <label class="col-sm-2 w-100 control-label text-34" for="form-field-1"></label>
                            <div class="col-sm-9">
                                <button type="submit" name="submit" class="btn btn-success btn-squared btn-sm w-100 fr">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function()  {
        $("#form-field-1").blur(function(){
            if($(this).val()=='输入素材内容')
            {
                $(this).val("");
            }
        });
    } );

    function autoSelect(val)
    {
        // alert(val);
    }
</script>

