<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<meta https-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>广告投放管理平台</title>
<link type="text/css" rel="stylesheet" href="../css/style.css" />
<script src="../js/jquery-1.2.6.pack.js" type="text/javascript"></script> 
<script type="text/javascript" src="../js/pop.js"></script>
<script type="text/javascript" src="../js/formSel.js"></script>
</head>

<body>

<!--top-->
<div class="top">
  <div class="tlogo"><img src="../images/logo.png" alt="广告推广平台" /></div>
  <div class="tr">
    <div class="weluser">您好,<strong>Retinas</strong>[<a href="#">退出</a>]</div>
    <div class="trlink">
      <a href="#"><img class="fl" src="../images/i_email.gif" alt="消息" /><span class="trlmsg">(10)</span></a>
      <a href="#"><img src="../images/i_help.gif" alt="帮助"  align="absmiddle" /></a>
    </div>
  </div>
</div>

<!--nav-->
<div class="nav">
    <div class="navd"><a class="home" href="#" title="首页"></a></div>
    <div class="navd"><a class="gg" href="#" title="媒体管理"></a></div>
    <div class="navd"><a class="rq" href="#" title="广告管理"></a></div>
    <div class="navd"><a class="mt" href="#" title="数据报表"></a></div>
    <div class="navd sel"><a class="cw" href="#" title="运营管理"></a></div>
    <div class="navd"><a class="zh" href="#" title="用户管理"></a></div>
    <div class="navd"><a class="gj" href="#" title="系统管理i"></a></div>
  </div>

<!--main-->
<div class="main">
  <div class="side">
    <div class="leftNav">
      <ul>
        <li><a href="#">媒体审核</a></li>
        <li><a href="#">素材审核</a></li>
        <li><a href="#">DSP管理</a></li>
        <li class="nobotbor sel"><a href="#">流量控制</a></li>
      </ul>
    </div>
  </div>
  
  <!--mcon start-->
  <div class="mcon">
    
      <div class="crumbLink"><a href="#">运营管理</a>&nbsp;&gt;&nbsp;流量控制</div>
    
      <div class="comForm">
        <dl>
          <dt>媒体：</dt>
          <dd>
            <select id="selYear">
              <option>新浪</option>
            </select>
          </dd>
        </dl>
        <dl>
          <dt>网站：</dt>
          <dd>
            <select id="selYear">
              <option>新浪</option>
            </select>
          </dd>
        </dl>
        <dl>
          <dt>广告位：</dt>
          <dd><input type="text" class="itxt" size="30" /></dd>
        </dl>
        <dl>
          <dt>广告类型：</dt>
          <dd>
            <select id="selYear">
              <option>jpg</option>
            </select>
          </dd>
        </dl>
        <dl>
          <dt>自运营：</dt>
          <dd>
            <select id="selYear">
              <option>优先</option>
              <option>托管</option>
            </select>
          </dd>
        </dl>
        <div class="tipstxt">默认优先投放自运营，剩余流量倒给托管方。</div>
        <dl>
          <dt>托管：</dt>
          <dd>
            <select id="selYear">
              <option>网盟</option>
            </select>
          </dd>
        </dl>
        <dl>
          <dt>流量设置：</dt>
          <dd><input type="text" class="itxt" size="10" value="50%" /></dd>
        </dl>
        <div class="tipstxt">不超过100%</div>
        <dl>
          <dt>&nbsp;</dt>
          <dd>
            网盟：<input type="text" class="itxt" size="10" value="50%" /><br />
          </dd>
        </dl>
        <dl>
          <dt>&nbsp;</dt>
          <dd style="margin-left:40px;">
            <p>淘宝：<input type="text" class="itxt" size="10" value="50%" /></p>
            <p class="mt10">百度：<input type="text" class="itxt" size="10" value="50%" /></p>
            <p class="mt10">谷歌：<input type="text" class="itxt" size="10" value="50%" /></p>
          </dd>
        </dl>
        <dl>
          <dt>&nbsp;</dt>
          <dd>
            DSP：<input type="text" class="itxt" size="10" value="50%" /><br />
          </dd>
        </dl>
        
        <h2>优化</h2>
        <dl>
          <dt>优化方式：</dt>
          <dd>
            <label class="irad" for="qg"><input name="dxdq" id="qg" type="radio" value="" /> 手动</label>
            <label class="irad ml20" for="xztf"><input name="dxdq" id="xztf" type="radio" value="" onClick="ShowDIV('preg')" /> 自动</label>
          </dd>
        </dl>
        
        <h2>托管优化设置</h2>
        <dl>
          <dt>优化频次：</dt>
          <dd>
            <select id="selYear">
              <option>天</option>
            </select>
          </dd>
        </dl>
        <dl>
          <dt>调整力量比列：</dt>
          <dd><input type="text" class="itxt" size="10" value="50" />%</dd>
        </dl>
      </div>
      
      <!--btn-->
      <div class="comForm">
        <dl>
          <dt>&nbsp;</dt>
          <dd>
            <span class="sbtnb">
              <input name="" type="button" class="ibtnb" value="保存"  />
            </span>
            <span class="sbtng ml20">
              <input name="" type="button" class="ibtng" value="取消" />
            </span>
          </dd>
        </dl>
      </div>

  </div>
  <!--mcon end-->
  
</div>



<!--版权-->
<div class="footer">
  <div class="ftcon">
    Copyright © 2013 All rights reserved. 设计广告平台有限公司 版权所有<br /> 
    京ICP证68976143.3号 京公网安备XKD89756号
  </div>
</div>

</body>
</html>
