	<!DOCTYPE html>
<html>
    <head>
        {part "/main.main.header"} 
        <script src="/baichuan_advertisement_manage/assets_admin/js/jquery.form.min.js">
        </script>
        <style>
            span.sbtng, span.sbtng .ibtng {
                float: none;
            }
            .form-group .form-control:not(div){
              width:80%;
              display: inline-block;
            }
        </style>
		<link rel="stylesheet" href="/baichuan_advertisement_manage/assets_admin/v5/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css">
		<script src="/baichuan_advertisement_manage/assets_admin/v5/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    </head>
    <body>
        {part "/main.main.nav.ad"}<!--main-->
        <div class="main">
        <div class="side">
            {part "/ad.plan.listpart.".$plan_id.".".$group_id}
        </div>
        <!--mcon-->
        <div class="mcon">
            <div class="toolbar-bc fl" style="margin-bottom:15px;">
                <div class="fl">
                    <a class="btn btn-squared btn-grey hide" href="/baichuan_advertisement_manage/ad.stuff.addone.{$plan_id}.{$group_id}">添加文本素材</a>
                    <a class="btn btn-squared btn-default" href="/baichuan_advertisement_manage/ad.group.list.{$plan_id}.{$group_id}">返回</a>
                </div>
                <div class="fr">
                    <a class="btn btn-squared btn-blue" href="/baichuan_advertisement_manage/ad.plan.list.{$plan_id}">广告组列表</a>
                    <a class="btn btn-squared btn-blue" href="/baichuan_advertisement_manage/ad.group.list.{$plan_id}.{$group_id}">素材列表</a>
					<a class="btn btn-squared btn-red" href="/baichuan_advertisement_manage/ad.stuff.addExchangeStuff.{$plan_id}.{$group_id}">添加灵集素材</a>
                    <a class="btn btn-squared btn-default" href="/baichuan_advertisement_manage/ad.plan.add.{$plan_id}">编辑广告计划</a>
                    <a class="btn btn-squared btn-default" href="/baichuan_advertisement_manage/ad.group.add.{$plan_id}.{$group_id}">编辑广告组</a>
                    <a class="btn btn-squared btn-default hide" href="/baichuan_advertisement_manage/ad.stuff.add.{$plan_id}.{$group_id}">编辑素材</a>
                </div>
            </div>
            <div class="comForm clear" style="margin:0;">
            <div>
                <h1>素材信息</h1>
                <div class="" style="width:730px; magin-left:30px; margin-top:30px; border:1px solid #EEEEEE; padding:30px; float: left;">
					<form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" action="/ad.stuff.saveExchangeStuff.{$plan_id}.{$group_id}" id="stuffs_form">
                        <input type="hidden" name="submit_or_not" id="submit_or_not" value="0"/>
						{if(isset($response['error'])&&$response['error']>0)}
						<div class="form-group mt-30">
	                        <label for="adType" class="col-sm-2 control-label"></label>
	                        <div class="col-sm-10">
								<div class="alert alert-danger mt-10" style="margin-bottom: 0;">
                                    <button data-dismiss="alert" class="close">
                                        ×
                                    </button>
                                    <strong>提示：</strong><span>{$response['message']}</span>
                                </div>
	                        </div>
	                    </div>
						{/if}

						<div class="form-group">
							<label for="stuff_type" class="col-sm-2 control-label">创意类型:</label>
							<div class="col-sm-10">
								<span class="ad_type"><input name="stuff_type" value=""   type="radio"  {if $stuffInfo->type<=0}checked{/if} id="stuff_type" /> <label  for="stuff_type">非动态</label></span>
								<span class="ad_seat"><input name="stuff_type"  value="17"  type="radio" {if $stuffInfo->type ==17}checked{/if}  id="stuff_type_seat" /> <label  for="stuff_type_seat">动态</label></span>
							</div>
						</div>

						<div class="form-group mt-30">
	                        <label for="adType" class="col-sm-2 control-label">广告类型</label>
	                        <div class="col-sm-10">
	                        	<select id="adType" name="view_type" class="form-control" onchange="changeAdType();">
	                        		<option value="0">请选择</option>
									{foreach($adTypesInfo_inmobi as $adTypeCode => $adTypeInfo)}
	                        			<option value="{$adTypeCode}" {if( $adInfo->view_type == $adTypeCode )}selected="selected"{/if}>{$adTypeInfo['name']}</option>
									{/foreach}
	                        	</select>
								<div id="tip-container" class="alert alert-info mt-10" style="display:none; margin-bottom: 0;">
                                    <button data-dismiss="alert" class="close">
                                        ×
                                    </button>
                                    <strong>提示：</strong><span id="tip"></span>
                                </div>
	                        </div>
	                    </div>

						<!-- start inmobi信息流 -->
						
						<div class="form-group" id="isLogoOrIcon">
               <label for="ad-type" class="col-sm-2 control-label"></label>
              <div class="col-sm-10">
                <span class="ad_type"><input name="ad_icon_group" value="1"   type="checkbox"  {if $plan->ad_pos_id<=0}checked{/if} id="ad_logo" /> <label  for="ad_logo">上传logo</label></span>
                <span class="ad_seat"><input name="ad_icon_group"  value="2"  type="checkbox" {if $plan->ad_pos_id>0}checked{/if}  id="ad_icon" /> <label  for="ad_icon">上传icon</label></span>
              </div>
            </div>
						
            <div class="form-group mt-30" style="display:none;" id="adLogoDiv">
              <label for="ad-type" class="col-sm-2 control-label">logo</label>
              <div class="col-sm-10">
                <div class="fileupload fileupload-new" data-provides="fileupload">
                  <div class="input-group">
                    <div class="form-control uneditable-input">
                      <i class="fa fa-file fileupload-exists"></i>
                      <span class="fileupload-preview"></span>
                    </div>
                    <div class="input-group-btn">
                      <div class="btn btn-light-grey btn-file">
                        <span class="fileupload-new"><i class="fa fa-folder-open-o"></i>选择文件</span>
                        <span class="fileupload-exists"><i class="fa fa-folder-open-o"></i>修改</span>
                        <input type="file" id="ad-logo-file" class="ad-icon-file" class="file-input" name="ad-logo-file" onchange="getIconFileName(0,this);">
                      </div>
                      <a href="#" class="btn btn-light-grey fileupload-exists" data-dismiss="fileupload">
                        <i class="fa fa-times"></i>删除
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <label for="ad-type" class="col-sm-2 control-label">logo尺寸</label>
              <div class="col-sm-10">
                <select id="logo_width" name="logo_width" class="form-control">
                  <option value="0">请选择</option>
                  {foreach($icon_size as $len)}
                  <option value="{$len}" {if($stuffInfo->crop == $len)}selected="selected"{/if}>{$len}x{$len}</option>
                  {/foreach}
                </select>
              </div>
            </div>
						<div class="form-group mt-30" style="display:none;" id="adIconDiv">
							<label for="ad-type" class="col-sm-2 control-label">icon</label>
							<div class="col-sm-10">
								<div class="fileupload fileupload-new" data-provides="fileupload">
									<div class="input-group">
										<div class="form-control uneditable-input">
											<i class="fa fa-file fileupload-exists"></i>
											<span class="fileupload-preview"></span>
										</div>
										<div class="input-group-btn">
											<div class="btn btn-light-grey btn-file">
												<span class="fileupload-new"><i class="fa fa-folder-open-o"></i>选择文件</span>
												<span class="fileupload-exists"><i class="fa fa-folder-open-o"></i>修改</span>
												<input type="file" id="ad-icon-file" class="ad-icon-file" class="file-input" name="ad-icon-file" onchange="getIconFileName(0);">
											</div>
											<a href="#" class="btn btn-light-grey fileupload-exists" data-dismiss="fileupload">
												<i class="fa fa-times"></i>删除
											</a>
										</div>
									</div>
								</div>
							</div>

							<label for="ad-type" class="col-sm-2 control-label">icon尺寸</label>
							<div class="col-sm-10">
								<select id="icon_width" name="icon_width" class="form-control">
									<option value="0">请选择</option>
									{foreach($icon_size as $len)}
									<option value="{$len}" {if($stuffInfo->crop == $len)}selected="selected"{/if}>{$len}x{$len}</option>
									{/foreach}
								</select>
							</div>
						</div>
						<!-- end -->
						<!-- start inmobi视频类型 -->
						<div class="form-group mt-30" style="display:none;" id="videoIconDiv">
							<label for="ad-type" class="col-sm-2 control-label">icon</label>
							<div class="col-sm-10">
								<div class="fileupload fileupload-new" data-provides="fileupload">
									<div class="input-group">
										<div class="form-control uneditable-input">
											<i class="fa fa-file fileupload-exists"></i>
											<span class="fileupload-preview"></span>
										</div>
										<div class="input-group-btn">
											<div class="btn btn-light-grey btn-file">
												<span class="fileupload-new"><i class="fa fa-folder-open-o"></i>选择文件</span>
												<span class="fileupload-exists"><i class="fa fa-folder-open-o"></i>修改</span>
												<input type="file" id="ad-video-icon-file" class="ad-video-icon-file" class="file-input" name="ad-video-icon-file" onchange="getIconFileName(1);">
											</div>
											<a href="#" class="btn btn-light-grey fileupload-exists" data-dismiss="fileupload">
												<i class="fa fa-times"></i>删除
											</a>
										</div>
									</div>
								</div>
							</div>

							<label for="ad-type" class="col-sm-2 control-label">icon尺寸</label>
							<div class="col-sm-10">
								<select id="stuff_size_4" name="stuff_size4" class="form-control" >
									<option value="0">请选择</option>
									{foreach($inmobi_stuff_size4 as $key => $item)}
									<option value="{$key}" class="stuff_size_{intval($key/100)}">{$item}</option>
									{/foreach}
								</select>
							</div>
						</div>
						<!-- end -->


	                    <div class="form-group mt-30" id="stuff_size_form">
	                        <label for="adType" class="col-sm-2 control-label">素材尺寸</label>
	                        <div class="col-sm-10">
	                        	<select id="stuff_size_1" name="stuff_size1" class="form-control" >
	                        		<option value="0">请选择</option>
									{foreach($inmobi_stuff_size1 as $key => $item)}
	                        			<option value="{$key}" class="stuff_size_{intval($key/100)}">{$item}</option>
									{/foreach}
	                        	</select>
	                        	<select id="stuff_size_2" name="stuff_size2" class="form-control" >
	                        		<option value="0">请选择</option>
									{foreach($inmobi_stuff_size2 as $key => $item)}
	                        			<option value="{$key}" class="stuff_size_{intval($key/100)}">{$item}</option>
									{/foreach}
	                        	</select>
	                        	<select id="stuff_size_3" name="stuff_size3" class="form-control" >
	                        		<option value="0">请选择</option>
									{foreach($inmobi_stuff_size3 as $key => $item)}
	                        			<option value="{$key}" class="stuff_size_{intval($key/100)}">{$item}</option>
									{/foreach}
	                        	</select>
								<div class="alert alert-info mt-10" style="margin-bottom: 0;">
                                    <button data-dismiss="alert" class="close">
                                        ×
                                    </button>
                                    <strong>提示：</strong><span>建议覆盖广告素材列表top5尺寸</span>
                                </div>
	                        </div>
	                    </div>


						<div class="form-group mt-30">
	                        <label for="ad-type" class="col-sm-2 control-label">素材</label>
                            <div class="col-sm-10">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="input-group">
                                        <div class="form-control uneditable-input">
                                            <i class="fa fa-file fileupload-exists"></i>
                                            <span class="fileupload-preview"></span>
                                        </div>
                                        <div class="input-group-btn">
                                            <div class="btn btn-light-grey btn-file">
                                                <span class="fileupload-new"><i class="fa fa-folder-open-o"></i>选择文件</span>
                                                <span class="fileupload-exists"><i class="fa fa-folder-open-o"></i>修改</span>
                                                <input id="ad-image-file" type="file" class="ad-image-file" class="file-input" name="ad-image-file" onchange="getFileName();">
                                            </div>
											<a href="#" class="btn btn-light-grey fileupload-exists" data-dismiss="fileupload">
												<i class="fa fa-times"></i>删除
											</a>
                                        </div>
                                    </div>
                                </div>
								<div class="alert alert-info mt-10" style="margin-bottom: 0;display:none;" id="pic_warn1">
                                    <button data-dismiss="alert" class="close">
                                        ×
                                    </button>
                                    <strong>提示：</strong><span>图片或Flash不能超过400K</span>
                                </div>
                                <div class="alert alert-info mt-10" style="margin-bottom: 0;display:none;" id="pic_warn2">
                                    <button data-dismiss="alert" class="close">
                                        ×
                                    </button>
                                    <strong>提示：</strong><span>1.视频不能超过10MB。2.视频时长不超过15秒。</span>
                                </div>
                            </div>
	                    </div>
						<div class="form-group">
	                        <label for="adname" class="col-sm-2 control-label">名称</label>
	                        <div class="col-sm-10">
	                            <input type="text" class="form-control hidden" name="plan_id" value="{$plan_id}">
	                            <input type="text" class="form-control hidden" name="group_id" value="{$group_id}">
	                            <input id="adname" type="text" class="form-control"  name="adname" maxlength="20">
	                        </div>
	                    </div>
						<div class="form-group">
	                        <label for="ad-title" class="col-sm-2 control-label">标题</label>
	                        <div class="col-sm-10">
	                            <input type="text" class="form-control" id="ad-title" name="title" maxlength="50">
	                        </div>
	                    </div>

						<div class="form-group">
							<label for="deeplink-url" class="col-sm-2 control-label">DeeplinkURL</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="deeplink-url" name="deeplink-url" maxlength="60">
							</div>
						</div>

						<div class="form-group">
							<label for="ad-action" class="col-sm-2 control-label">广告交互类型:</label>
							<div class="col-sm-10">
								<span class="ad_type"><input name="ad_action" value="1"   type="radio"  {if $plan->ad_pos_id<=0}checked{/if} id="ad_action" /> <label  for="ad_action">打开网页</label></span>
								<span class="ad_seat"><input name="ad_action"  value="2"  type="radio" {if $plan->ad_pos_id>0}checked{/if}  id="ad_action_seat" /> <label  for="ad_action_seat">下载</label></span>
							</div>
						</div>


            <div id="appInfo">
						<div class="form-group">
							<label for="ad-action" class="col-sm-2 control-label">应用类型:</label>
							<div class="col-sm-10">
								<span class="ad_type"><input name="app_type" value="0"   type="radio"  {if $plan->ad_pos_id<=0}checked{/if} id="ad_type" /> <label  for="ad_type">Android</label></span>
								<span class="ad_seat"><input name="app_type"  value="1" type="radio" {if $plan->ad_pos_id>0}checked{/if}  id="ad_type_seat" /> <label  for="ad_type_seat">IOS</label></span>
							</div>
						</div>
						<div class="form-group">
							<label for="deeplink-url" class="col-sm-2 control-label">应用包名称：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="packagename" name="packagename" maxlength="60" required>
                <span style="color:red;margin-left:5px;">*</span>
							</div>
						</div>
						<div class="form-group">
							<label for="deeplink-url" class="col-sm-2 control-label">应用名称：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="appname" name="appname" maxlength="60" required>
								<span style="color:red;margin-left:5px;">*</span>
							</div>
						</div>
						<div class="form-group" id="app_intro_url">
							<label for="deeplink-url" class="col-sm-2 control-label">Android应用介绍URL：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="app_intro_url" name="app_intro_url" maxlength="60" required>
								<span style="color:red;margin-left:5px;">*</span>
							</div>
						</div>
						<div class="form-group">
							<label for="app_size" class="col-sm-2 control-label">应用大小：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="app_size" name="app_size" maxlength="60" placeholder="应用大小单位为MB" required>
								<span style="margin-left:5px;">MB</span>
								<span style="color:red;margin-left:5px;">*</span>
							</div>
						</div>
						<div class="form-group">
							<label for="app_ver" class="col-sm-2 control-label">应用版本：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="app_ver" name="app_ver" maxlength="60" required>
								<span style="color:red;margin-left:5px;">*</span>
							</div>
						</div>
						<div class="form-group" id="itunesId">
							<label for="app_ver" class="col-sm-2 control-label">IOS应用 App Store ID：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="itunesId" name="itunesId" maxlength="60" required>
								<span style="color:red;margin-left:5px;">*</span>
							</div>
						</div>
						<div class="form-group" id="app_id">
							<label for="app_ver" class="col-sm-2 control-label">Android应用在应用商店上架的appid：</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="app_id" name="app_id" maxlength="60" required>
								<span style="color:red;margin-left:5px;">*</span>
							</div>
						</div>
            </div>



						<div class="form-group">
	                        <label class="col-sm-2 control-label">描述</label>
	                        <div class="col-sm-10">
								<textarea class="form-control" name="desc"></textarea>
	                        </div>
	                    </div>
						<div class="form-group">
	                        <label for="landing_page" class="col-sm-2 control-label">目标地址</label>
	                        <div class="col-sm-10">
	                            <input type="text" class="form-control" placeholder="请填写以https或者https开头的URL地址" id="landing_page" name="landing_page">
	                        </div>
	                    </div>
						<div class="form-group">
	                        <label class="col-sm-2 control-label">展示监控</label>
	                        <div class="col-sm-10">
								<textarea class="form-control" name="show_js" placeholder="请填写以https或者https开头的URL地址"></textarea>
	                        </div>
	                    </div>
						<div class="form-group">
	                        <label class="col-sm-2 control-label">点击监控</label>
	                        <div class="col-sm-10">
								<textarea class="form-control" name="click_js" placeholder="请填写以https或者https开头的URL地址"></textarea>
	                        </div>
	                    </div>
						<div class="form-group mt-30">
	                        <label for="ad-type" class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                            	<input type="button" {if(($btn_disable==1)&&(!(user_api::auth("admin"))))} disabled {/if}   class="btn btn-squared btn-success fr" style="width:100px;" value="保存" onclick="saveAll(0)">
                                <input type="button" {if(($btn_disable==1)&&(!(user_api::auth("admin"))))} disabled {/if}  class="btn btn-squared btn-success fr" style="width:100px;margin-right:10px;" id="submit_or_not" value="保存并提交" onclick="saveAll(1)"/>
                            </div>
	                    </div>
					</form>
                </div>
            </div>
            </div>
        </div>
        <div class="clear">
        </div>
			<input type="hidden" name="ad_json" id="ad_types_json" value="{$adTypesInfoJson}"/>
        <script>
        	var adTypesInfo = $("#ad_types_json").val();
            $(document).ready(function(){
              
                $("form").validate({ 
                  submitHandler: function(form){
                    form.submit();
                  },
                  errorClass:"fcr"
                });
                
                $("[name=ad_icon_group]:checked").each(function(){
                    if($(this).val() == 1){
                      $("#adLogoDiv").show();
                    }
                    else if($(this).val() == 2){
                      $("#adIconDiv").show();
                    }
                });
                
                
                $("[name=ad_icon_group]").on("click",function(){
                    if($(this).val() == 1){
                      if($(this).prop("checked")){
                        $("#adLogoDiv").show();
                      }
                      else{
                        $("#adLogoDiv").hide();
                      }
                    }
                    if($(this).val() == 2){
                      if($(this).prop("checked")){
                        $("#adIconDiv").show();
                      }
                      else{
                        $("#adIconDiv").hide();
                      }
                    }
                })
                
                $("[name=app_type]").on('click',function(){
                  if($(this).val() == 0){
                    $("#app_intro_url").show();
                    $("#app_id").show();
                    $("#itunesId").hide();
                  }
                  else{
                    $("#app_intro_url").hide();
                    $("#app_id").hide();
                    $("#itunesId").show();
                  }
                });
                $("[name=ad_action]").on('click',function(){
                  if($(this).val() == 1){
                    $("#appInfo").hide();
                  }
                  else{
                    $("#appInfo").show();
                  }
                });
                $("[name=app_type][value=0]").prop("checked",true).trigger("click");
                $("[name=ad_action][value=1]").prop("checked",true).trigger("click");
                $('.icheck').iCheck({
                    checkboxClass: 'icheckbox_minimal-aero',
                    radioClass: 'iradio_flat-blue',
                    increaseArea: '-10%'
                });
                $("#stuff_size_form").hide();
                $("#stuff_size_1").hide();
                $("#stuff_size_2").hide();
                $("#stuff_size_3").hide();
                $("#stuff_size_4").hide();
				changeAdType();
            });
			function getFileName(){
				var file = $("#ad-image-file").val();
				var pos	= file.lastIndexOf("\\");
                fileName = file.substring(pos + 1);
				var pos	= fileName.lastIndexOf(".");
                fileName = fileName.substring(0,pos);
				$("#adname").val(fileName);
			}

			function getIconFileName(type,$el){
				if(type ==0){
					var file = $("#ad-icon-file").val();
				}else {
					var file = $("#ad-video-icon-file").val();
				}
				if($el)file = $($el).val();
				
				var pos	= file.lastIndexOf("\\");
				fileName = file.substring(pos + 1);
				var pos	= fileName.lastIndexOf(".");
				fileName = fileName.substring(0,pos);
//				$("#adname").val(fileName);
			}

			
			function changeAdType(){
				var adType = $("#adType").val();
				if(adType == 1002){
					$('#isLogoOrIcon').show();
					$("[name=ad_icon_group]:checked").each(function(){
              if($(this).val() == 1){
                $("#adLogoDiv").show();
              }
              else if($(this).val() == 2){
                $("#adIconDiv").show();
              }
          });
					
				}else{
					$('#isLogoOrIcon').hide();
          $("#adLogoDiv").hide();
          $("#adIconDiv").hide();
				}
				//视频类型显示icon选择
//				if(adType == 1004){
//					$('#videoIconDiv').show();
//				}else{
//					$('#videoIconDiv').hide();
//				}

				if(adType == 1002 || adType == 1003){
					$("#stuff_size_form").show();
					$("#stuff_size_1").show();
					$("#stuff_size_2").hide();
					$("#stuff_size_3").hide();
					$("#stuff_size_4").hide();
					$("#pic_warn1").show();
					$("#pic_warn2").hide();
					$("#ad_action_seat").prop("disabled",false);
				}else if(adType ==1001){
					$("#stuff_size_form").show();
					$("#stuff_size_1").hide();
					$("#stuff_size_2").show();
					$("#stuff_size_3").hide();
					$("#stuff_size_4").hide();
					$("#pic_warn1").show();
					$("#pic_warn2").hide();
					$("#ad_action_seat").prop("disabled",true);
					$("[name=ad_action][value=1]").prop("checked",true).trigger("click");
				}else if(adType == 1004){
					$("#stuff_size_form").show();
					$("#stuff_size_1").hide();
					$("#stuff_size_2").hide();
					$("#stuff_size_3").show();
					$("#stuff_size_4").show();
					$("#pic_warn1").hide();
					$("#pic_warn2").show();
					$("#ad_action_seat").prop("disabled",true);
          $("[name=ad_action][value=1]").prop("checked",true).trigger("click");
				}else if(adType == 1005){
					$("#stuff_size_form").show();
					$("#stuff_size_1").hide();
					$("#stuff_size_2").show();
					$("#stuff_size_3").hide();
					$("#stuff_size_4").hide();
					$("#pic_warn1").show();
					$("#pic_warn2").hide();
					$("#ad_action_seat").prop("disabled",false);
				}else{
					$("#stuff_size_form").hide();
					$("#pic_warn1").hide();
					$("#pic_warn2").hide();
					$("#ad_action_seat").prop("disabled",false);
				}
				
				if( typeof(adTypesInfo[adType]) === "object" && typeof(adTypesInfo[adType].tip) !== "undefined" ){
					$("#tip").text(adTypesInfo[adType].tip);
					$("#tip-container").show();
				}else{
					$("#tip").text("");
					$("#tip-container").hide();
				}
			}
			function saveAll(flag){
			    var error = 0;
			    var msg = "";
			    if($("input[name='adname']").val().length < 1){
			            $("input[name='adname']").css("border","1px solid #FF7E82");
			            error++;
			            msg += error+'.请填写广告名称<br>';
			    }
			    else if($("input[name='adname']").val().length > 50){
			          
			            error++;
			            msg += error+'.广告名称不能超过50个字符（25个汉字）<br>';
			    }
			    else{
			        $("input[name='adname']").css("border","1px solid #E6E8E");
			    }
			    if($("input[name='landing_page']").val().length < 1){
			            error++;
			            msg += error+'.目标地址不能为空<br>';
			    }
			    adType = $("#adType").val();
			    if(adType == 0){
			    	error++;
			    	msg += error+'.未选择广告类型';
			    }
			    stuff_size_1 = $("#stuff_size_1").val();
			    stuff_size_2 = $("#stuff_size_2").val();
			    if((adType == 1001 && stuff_size_2 == 0)||(adType == 1002 && stuff_size_1 == 0)||(adType == 1003 && stuff_size_1 == 0)){
			    	error++;
			    	msg += error+'.未选择素材尺寸';
			    }
			    if(error == 0){
			            if(flag==1){
			                    layer.confirm('提交审核后将不可再修改素材，是否继续？', function(){
			                    $("#submit_or_not").val(1);
			                    $("#stuffs_form").submit();
			                }); 
			            }else{
			                $("#submit_or_not").val(0);
			                $("#stuffs_form").submit();
			            }
			    }else{
			            layer.alert(msg);
			            return false;
			        }
			}
        </script>
        {part "/main.main.footer"}
    </body>
</html>
