<!DOCTYPE html>
<html>
<head>
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.ad"}

<!--main-->
<div class="main">
  <div class="side">
{part "/ad.plan.listpart"}
  </div>
  <!--mcon-->
  <div class="mcon">
    <div class="crumbLink"><a href="#">农夫山泉推广</a>&nbsp;&gt;&nbsp;<a href="#">门户网站品牌推广</a>&nbsp;&gt;&nbsp;素材</div>
    
    <div class="chartMenu">
      <span class="fl timeDWM  ml5 ablk">
        <a href="#">全部状态</a>
        <a class="sel" href="#">投放状态</a>
        <a href="#">非投放状态</a>
      </span>
      <span class="fl timeDWM ml15 ablk">
        <a href="#">全部日期</a>
        <a class="sel" href="#">日</a>
        <a href="#">月</a>
      </span>
      <span class="cms ml30"><input type="text" class="itxt_1 idate fc7" value="开始时间 - 结束时间" size="30" /></span>
      <span class="cms timeDWM ml15 ablk">
        <a href="#">今天</a>
        <a class="sel" href="#">昨天</a>
        <a href="#">本周</a>
        <a href="#">上周</a>
        <a href="#">本月</a>
        <a href="#">上月</a>
      </span>
    </div>
    <div class="reportMenu mt20">
      <div class="fl">
        <span class="sbtnb"><input name="" type="button" class="ibtnb" value="设置广告组" /></span>
        <span class="sbtnb ml30"><input name="" type="button" class="ibtnb" value="设置创意" /></span>
        <span class="sbtng ml10"><input name="" type="button" class="ibtng" value="复制" /></span>
        <span class="sbtng ml10"><input name="" type="button" class="ibtng" value="启用" /></span>
        <span class="sbtng ml10"><input name="" type="button" class="ibtng" value="暂停" /></span>
        <span class="sbtng ml10"><input name="" type="button" class="ibtng" value="删除" /></span>
      </div>
      <div class="fr"><span >出价：<strong>3</strong></span><span class="ml20 mr15">定向方式：<strong>全部地区</strong></span></div>
    </div>
    
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="listab mt20 fs14">
        <tr>            
          <th><input name="" type="checkbox" value="" /></th>
          <th>素材</th>
          <th>状态</th>
          <th>类型</th>
          <th>尺寸</th>
          <th class="tac">展现数</th>
          <th class="tac">点击数</th>
          <th class="tac">点击率</th>
          <th class="tac">总花费数</th>
          <th class="tac">千次展现成本</th>
          <th class="tac">平均点击成本</th>
        </tr>
        <tr>            
          <td><input name="" type="checkbox" value="" /></td>
          <td><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" /></td>
          <td>暂停</td>
          <td>图片</td>
          <td>250*140</td>
          <td class="tac">567</td>
          <td class="tac">89</td>
          <td class="tac">35%</td>
          <td class="tac">890</td>
          <td class="tac">456</td>
          <td class="tac">456</td>
        </tr>
      </table>
    
    <!--turnpage start-->
    <div class="turnpage">
      <a href="#"><em>&lt;&lt;</em>上一页</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <span>...</span>
      <a href="#">65</a>
      <a href="#">下一页<em>&gt;&gt;</em></a>
    </div>
    <!--turnpage end-->
    
    <div class="mt30">
      <span class="sbtng"><input name="" type="button" class="ibtng" value="查看已归档的素材" /></span>
      <span class="sbtng ml10"><input name="" type="button" class="ibtng" value="启用"  /></span>
    </div>
    <div class="clear"></div>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="listab mt20 fs14">
        <tr>            
          <th><input name="" type="checkbox" value="" /></th>
          <th>素材</th>
          <th>状态</th>
          <th>类型</th>
          <th>尺寸</th>
          <th class="tac">展现数</th>
          <th class="tac">点击数</th>
          <th class="tac">点击率</th>
          <th class="tac">总花费数</th>
          <th class="tac">千次展现成本</th>
          <th class="tac">平均点击成本</th>
        </tr>
        <tr>            
          <td><input name="" type="checkbox" value="" /></td>
          <td><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" /></td>
          <td>暂停</td>
          <td>图片</td>
          <td>250*140</td>
          <td class="tac">567</td>
          <td class="tac">89</td>
          <td class="tac">35%</td>
          <td class="tac">890</td>
          <td class="tac">456</td>
          <td class="tac">456</td>
        </tr>
      </table>
    
    <!--turnpage start-->
    <div class="turnpage">
      <a href="#"><em>&lt;&lt;</em>上一页</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <span>...</span>
      <a href="#">65</a>
      <a href="#">下一页<em>&gt;&gt;</em></a>
    </div>
    <!--turnpage end-->

  </div>
</div>
</div>
<div class="clear"></div>

{part "/main.main.footer"}

</body>
</html>
