<!DOCTYPE html>
<html>
<head>
{part "/main.main.header"}
<script src="/baichuan_advertisement_manage/assets_admin/js/jquery.form.min.js"></script>
<style>
span.sbtng, span.sbtng .ibtng{
float:none;
}
</style>
</head>
<body>
{part "/main.main.nav.ad"}

<!--main-->
<div class="main">
  <div class="side">
{part "/ad.plan.listpart.".$plan_id.".".$group_id}
  </div>
  <!--mcon-->
  <div class="mcon">
    <div class="step mb-10">
          <div class="step3" style="padding:0;">
              <div id="prevplan" class="pull-left" style="height:100%;width:227px;">
                  <a href="/baichuan_advertisement_manage/ad.plan.add.{$plan_id}?backstaff=/ad.stuff.add.{$plan_id}.{$group_id}" style="height:100%;width:100%;display:block"></a>
              </div>
              <div id="prevgroup" class="pull-left" style="height:100%;width:227px;">
                  <a href="/baichuan_advertisement_manage/ad.group.add.{$plan_id}.{$group_id}?back=/ad.stuff.add.{$plan_id}.{$group_id}" style="height:100%;width:100%;display:block"></a>
              </div>
      </div>
      </div>
  	<form action="/ad.stuff.save" method="post" id="stuffs_form">
    <input type="hidden" name="plan_id" value="{$plan_id}" />
    <input type="hidden" name="group_id" value="{$group_id}" />
    <input type="hidden" name="submit_or_not" id="submit_or_not" value="0"/>
  	<div class="toolbar-bc fl" style="margin-bottom:13px;">
		<!--<span class="sbtng" style="position:relative;display:inline-block;zoom:1;cursor:pointer;overflow:hidden;vertical-align:middle;">-->
        <!--<input {$readonly} {if(($btn_disable==1)&&(!(user_api::auth("admin"))))} disabled {/if} name="stuff" type="button" id="" class="ibtng" value="上传素材" style="background: #EEEEEE; border: 1px solid #DDDDDD; font-family: Microsoft Yahei; font-weight: normal;"/>-->
            <!--<input {$readonly} {if(($btn_disable==1)&&(!(user_api::auth("admin"))))} disabled {/if} name="stuff[]" style="position:absolute;left:0;width: 180px;top:0;_zoom:30;font-size:300px\9;height:100%;_height:auto;opacity:0;filter:alpha(opacity=0);-ms-filter:"alpha(opacity=0)";cursor:pointer;" type="file" multiple id="upload" accept="image/gif, image/png, image/jpeg, image/gif,application/x-shockwave-flash" class="ibtng" value="批量上传" />-->
		<!--</span>-->
		<!--<span style="color: red;">（请上传大小为{$ad_position}的图片素材）</span>-->
		<!--<span class="sbtng" style="position:relative;display:inline-block;zoom:1;cursor:pointer;overflow:hidden;vertical-align:middle;">-->
		<!--{if $config['adp']['stuff_text']}-->
            <!--<input {$readonly}  {if(($btn_disable==1)&&(!(user_api::auth("admin"))))} disabled {/if} type="button" id="" class="ibtng" onclick="location='/baichuan_advertisement_manage/ad.stuff.addone.{$plan_id}.{$group_id}'" value="添加文本素材"  style="background: #EEEEEE; border: 1px solid #DDDDDD; font-family: Microsoft Yahei; font-weight: normal;"/>-->
		<!--{/if}-->
		<!--</span>-->
    	<div class="fr">
			<a class="btn btn-squared btn-blue" href="/baichuan_advertisement_manage/ad.plan.list.{$plan_id}">广告组列表</a>
		    <!--<a class="btn btn-squared btn-blue" href="/baichuan_advertisement_manage/ad.group.list.{$plan_id}.{$group_id}">素材列表</a>-->
		    <a class="btn btn-squared btn-blue" href="/baichuan_advertisement_manage/ad.group.list.{$plan_id}.{$group_id}">广告列表</a>
			<!--<a class="btn btn-squared btn-red" href="/baichuan_advertisement_manage/ad.stuff.addExchangeStuff.{$plan_id}.{$group_id}">添加灵集素材</a>-->
		    <a class="btn btn-squared btn-default" href="/baichuan_advertisement_manage/ad.plan.add.{$plan_id}">编辑广告计划</a>
		    <a class="btn btn-squared btn-default" href="/baichuan_advertisement_manage/ad.group.add.{$plan_id}.{$group_id}">编辑广告组</a>
		    <!--<a class="btn btn-squared btn-default" href="/baichuan_advertisement_manage/ad.stuff.add.{$plan_id}.{$group_id}">编辑素材</a>-->
		    <a class="btn btn-squared btn-default" href="/baichuan_advertisement_manage/ad.stuff.add.{$plan_id}.{$group_id}">编辑广告</a>
		</div>
    </div>
    <!--基本信息-->
    <div class="comForm clear" style="margin:0;">
{*
      <h1>上传素材</h1>
      <h2 style="padding-left:0;">可选素材尺寸(px)&amp;约占流量</h2>
		  *}
      <div class="cyli" style="margin:0;">
          <div class="">
		  	<span style="width:30px"></span>
	          	<script>
	              $(document).ready(function(){
	                  $(".copyset").click(function(){
	                      var me = ($(this).parents("tr"));
	                      var source = ($(this).parents("tr").prev());
	                      if (me.find("textarea.show_js").val() && source.find("textarea.show_js").val()) {
	                          me.find("textarea.show_js").val(source.find("textarea.show_js").val());
	                          me.find("textarea.click_js").val(source.find("textarea.click_js").val());
	                          me.find("input.landing_page").val(source.find("input.landing_page").val());
	                          //me.find("input.adname").val(source.find("input.adname").val());
	                          me.find("input.view1").prop("checked", source.find("input.view1").prop("checked"));
	                          me.find("input.view2").prop("checked", source.find("input.view2").prop("checked"));
	                          me.find("input.view4").prop("checked", source.find("input.view4").prop("checked"));
	                          alert("复制成功，请保存!");
	                      }
	                      else {
	                          alert("复制失败，请手动输入!");
	                      }
	                      return false;

	                  });
	                  $("#upload").change(function(){
	                  	    var cnt = this.files.length;
					        for(var i=0; i<cnt;i++){
					            if(this.files[i].type.search('image')<0 && this.files[i].type.search('flash')<0 ){
					            	alert("仅支持图片和Flash，请重新选择");
					            	return;
					            }
					        }

	                        $("form").submit();
	                  });
	                  var bar = $('.bar');
	                  var percent = $('.percent');
	                  var status = $('#status');
	                  $('form').ajaxForm({
	                      dataType: "json",
	                      beforeSend: function(){
	                          var show_js = $("textarea[name^='show_js']");
	                          click_js = $("textarea[name^='click_js']");
	                          $.each(show_js, function(){
	                              if ($(this).val().length > 1640) {
	                                  alert("统计代码长度不能大于1640!");
	                                  $(":submit").preventDefault();
	                              }
	                          });
	                          $.each(click_js, function(){
	                              if ($(this).val().length > 1640) {
	                                  alert("统计代码长度不能大于1640!");
	                                  $(":submit").preventDefault();
	                              }
	                          });
	                          status.empty();
	                          var percentVal = '0%';
	                          bar.width(percentVal)
	                          percent.html(percentVal);
	                      },
	                      uploadProgress: function(event, position, total, percentComplete){
	                          var percentVal = percentComplete + '%';
	                          bar.width(percentVal)
	                          percent.html(percentVal);
	                      },
	                      success: function(r){
	                          if (r.error != ""){
								alert(r.error);
							  }
	                          var percentVal = '100%';
	                          bar.width(percentVal)
	                          percent.html(percentVal);
	                      },
	                      complete: function(xhr){
							  location.reload();
	                      }
	                  });
	                  $(".addr").mouseover(function(){
	                      var d = '<img style="width:100%;" src="' + $(this).attr("src") + '">';
	                      var p = ($(this).position());
	                      $("#addr_pre").html(d).css({
	                          left: p.left,
	                          top: p.top + $(this).height() + 20
	                      }).show();
	                  }).mouseout(function(){
	                      $("#addr_pre").hide();
	                  });
	              });
	          </script>
				<div style="position:absolute; top:33px; left:33px max-width:600px;" id="addr_pre"></div>
				<div style="display:none" class="progress">
					<div class="bar"></div >
					<div class="percent">0%</div >
				</div>
				<div id="status"></div>
	            <!--遮罩pop start-->
	            <div id="BgDiv"></div>
	            <div id="sucai" class="popdiv pop_sucai" style="display:none">
	              <div class="dbg">
	                <div class="pmain">
	                <div class="ptit">
	                  <div class="ptname">历史素材库</div>
	                  <div class="ptclose"><a href="javascript:;" id="btnClose" onClick="closeDiv('sucai')"><img src="/baichuan_advertisement_manage/assets_admin/img/i_close.png" alt="关闭" /></a></div>
	                </div>
	                <div class="dcon">
	                  <div class="pscltit">
	                    <ul><li class="sel"><a class="ablk" href="#">历史素材</a></li><li><a class="ablk" href="#">自助素材</a></li></ul>
	                  </div>
	                  <div class="pscleft">
	                    <ul class="psclsize ablk">
	                      <li><a href="#">660×90</a></li>
	                      <li><a href="#">350×150</a></li>
	                      <li class="sel ablk"><a href="#">660×90</a></li>
	                      <li><a href="#">660×90</a></li>
	                      <li><a href="#">350×150</a></li>
	                      <li><a href="#">660×90</a></li>
	                      <li><a href="#">660×90</a></li>
	                      <li><a href="#">660×90</a></li>
	                    </ul>
	                  </div>
	                  <div class="pscright">
	                    <ul class="pscrli">
	                      <li><input name="" type="checkbox" value="" /><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" width="80" height="80" /></li>
	                      <li><input name="" type="checkbox" value="" /><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" width="80" height="80" /></li>
	                      <li><input name="" type="checkbox" value="" /><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" width="80" height="80" /></li>
	                      <li><input name="" type="checkbox" value="" /><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" width="80" height="80" /></li>
	                      <li><input name="" type="checkbox" value="" /><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" width="80" height="80" /></li>
	                      <li><input name="" type="checkbox" value="" /><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" width="80" height="80" /></li>
	                      <li><input name="" type="checkbox" value="" /><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" width="80" height="80" /></li>
	                      <li><input name="" type="checkbox" value="" /><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" width="80" height="80" /></li>
	                      <li><input name="" type="checkbox" value="" /><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" width="80" height="80" /></li>
	                      <li><input name="" type="checkbox" value="" /><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" width="80" height="80" /></li>
	                      <li><input name="" type="checkbox" value="" /><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" width="80" height="80" /></li>
	                      <li><input name="" type="checkbox" value="" /><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" width="80" height="80" /></li>
	                      <li><input name="" type="checkbox" value="" /><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" width="80" height="80" /></li>
	                      <li><input name="" type="checkbox" value="" /><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" width="80" height="80" /></li>
	                      <li><input name="" type="checkbox" value="" /><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" width="80" height="80" /></li>
	                      <li><input name="" type="checkbox" value="" /><img src="/baichuan_advertisement_manage/assets_admin/img/tmp_ad.jpg" width="80" height="80" /></li>
	                    </ul>
	                  </div>
	                  <div class="clear"></div>
	                  <div class="dpbtn">
	                    <div class="fr">
	                      <span class="sbtnb"><input name="" type="button" class="ibtnb" value="确定" onClick="closeDiv('sucai')" /></span>
	                      <span class="sbtng ml15"><input name="" type="button" class="ibtng" value="取消" onClick="closeDiv('sucai')" /></span>
	                    </div>
	                  </div>

	                </div>
	                </div>
	              </div>
	            </div>
	            <!--遮罩pop end-->
          </div>
	</div>
	<div class="clear">
		<!--<dd>
			{foreach $channels_config as $channel}
				<label class="irad ml20">{$channel["channel_id"]}/{$channel["width"]}/{$channel["height"]}/{$channel["fontsize"]}</label>
			{/foreach}
            </dd>-->
	</div>
	<div class="clear"></div>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="listab fs14" id="stuffs">
			<tr>
				<th scope="col">ID</th>
				<th scope="col">素材</th>
				<th scope="col">素材名称</th>
                {if($plan->platform == 1)}
                <th scope="col">素材标题  <i class="fa fa-question-circle" title="素材标题不能超过14个汉字或者28个字符"></i></th>
                {/if}
				 <!--th scope="col">广告组样式参考</th-->
                 {if($plan->platform != 1)}
				<th scope="col" style="min-width:100px;" >展示类型</th>
                <th scope="col" style="min-width:100px;">位置</th>
                {/if}
				<!--<th scope="col" width="50">状态</th>-->
				{if(false &&$config['stuff']['shenhe'])}
				<th scope="col" width="50">审核</th>
				{/if}
				<th scope="col">目标地址和文本内容</th>
				<th scope="col" width="120">监控JS</th>
				<th scope="col" width="120">下载信息</th>
				<th scope="col">&nbsp;</th>
			</tr>
		{foreach $ads as $ad}
			{$stuffType = $ad->stuff->type}
			<tr>
				<td>{$ad->adid}</td>
				<td>
					{if $ad->stuff->type==2}
					<embed src="{$ad->stuff->addr}" width="{$ad->stuff->width}" height="{$ad->stuff->height}" style="max-width:180px;max-height:80px"></embed>
					{elseif $ad->stuff->type==1}
					<a href="{$ad->stuff->addr}" target="_blank"><img class="addr" style="max-width:180px;max-height:80px" src="{$ad->stuff->addr}" /></a>
					{else}
					<textarea style="width:200px;height:100px" name="text[{$ad->adid}]">{$ad->stuff->text}</textarea>
					{/if}
				</td>
				<td style="font-size:12px; line-height:18px;">
					名称:<br/>
					<input type="text" name="adname[{$ad->adid}]" class="adname itxt" size="20" value="{$ad->adname}" />
					<br/>
					素材类型:
					{if $ad->stuff->type==1}IMG
					{elseif $ad->stuff->type==2}FLASH
					{elseif $ad->stuff->type==5}重定向
					{elseif $ad->stuff->type==6}VIDEO
					{elseif $ad->stuff->type==8}JS
					{elseif $ad->stuff->type==9}HTML
					{elseif $ad->stuff->type==7}IFRAME
					{/if}
					<br/>
					{if( in_array($stuffType,$visibleStuffType) )}
					素材尺寸:
					<input type="text" name="width[{$ad->adid}]" value="{$ad->stuff->width}" class="itxt" size="3"/>*<input type="text" name="height[{$ad->adid}]" value="{$ad->stuff->height}" class="itxt" size="3"/></br>
					{elseif($stuffType == 5)}
					重定向规则:<span style="color:#E83428; margin-left:10px;">{$rule[$ad->stuff->landing_rule]}</span>
					<br/>
					{/if}
				</td>
                {if($plan->platform == 1)}
                <td>
                    <input type="text" name="title[{$ad->adid}]" value="{$ad->stuff->title}" >
                </td>
                {/if}
				<!--td>
					图片:<br/>
					<span>({$groupTaLimit["height_min"]}*{$groupTaLimit["width_min"]})</span>
					/<span>({$groupTaLimit["height_max"]}*{$groupTaLimit["width_max"]})</span><br/>
					文字:</br>
					<span>{$groupTaLimit["fornt_min"]}</span>/<span>{$groupTaLimit["fornt_max"]}</span>
				</td-->
                {if($plan->platform != 1)}
				<td>
					{if( in_array($stuffType,$visibleStuffType) )}
						<input id="view1_{$ad->adid}" type="radio" value="1" {if($ad->view_type == 1)}checked{/if} name="view_type[{$ad->adid}]"/>
						<label for="view1_{$ad->adid}">嵌入式</label><br/>

						<input id="view2_{$ad->adid}" type="radio" value="2" {if($ad->view_type == 2)}checked{/if} {if($ad->view_type == 3)}checked{/if} name="view_type[{$ad->adid}]"/>
						<label for="view2_{$ad->adid}">浮窗</label><br/>

						<input id="view32_{$ad->adid}" type="radio" value="32" {if $ad->view_type == 32}checked{/if} name="view_type[{$ad->adid}]"/>
						<label for="view32_{$ad->adid}">通栏</label><br/>

						<input class="view256" id="view256_{$ad->adid}" type="radio" value="256" {if($ad->view_type == 256)}checked{/if} name="view_type[{$ad->adid}]"/>
						<label for="view256_{$ad->adid}">插页</label><br/>
						{if( $stuffType != 9)}
						<input class="view512" id="view512_{$ad->adid}" type="radio" value="512" {if($ad->view_type == 512)}checked{/if} name="view_type[{$ad->adid}]"/>
						<label for="view512_{$ad->adid}">对联</label><br/>
						{/if}

						<input id="view128_{$ad->adid}" type="radio" value="128" {if $ad->view_type == 128}checked{/if} name="view_type[{$ad->adid}]"/>
						<label for="view128_{$ad->adid}">无线浮标</label><br/>

						<input id="view64_{$ad->adid}" type="radio" value="64" {if $ad->view_type == 64}checked{/if} name="view_type[{$ad->adid}]"/>
						<label for="view64_{$ad->adid}">无线APP</label><br/>
						<!--
						<input id="view4_{$ad->adid}" type="radio" value="4" {if $ad->view_type == 4}checked{/if} name="view_type[{$ad->adid}]"/>
						<label for="view4_{$ad->adid}">背投</label><br/>
						-->
					{elseif($stuffType == 8)}
						<input id="view1_{$ad->adid}" type="radio" value="1" {if($ad->view_type == 1)}checked{/if} name="view_type[{$ad->adid}]"/>
						<label for="view1_{$ad->adid}">嵌入式</label><br/>
					{/if}
					{if($config['adp']['plan_redirect'] && $config['version'] == "operator" && $ad->stuff->type==5)}
						<input id="view8_{$ad->adid}" type="radio" value="8" {if $ad->view_type == 8}checked{/if} name="view_type[{$ad->adid}]"/>
						<label for="view8_{$ad->adid}">重定向[禁用：JS]</label><br/>

						<input id="view16_{$ad->adid}" type="radio" value="16"  {if $ad->view_type == 16}checked{/if} name="view_type[{$ad->adid}]"/>
						<label for="view16_{$ad->adid}">重定向(DPC)</label><br/>
					{/if}
				</td>
				<td>
					{if(isset($positions[$ad->colum1]))}{$checkPosId = $ad->colum1;}{else}{$checkPosId = 0;}{/if}
					{foreach($positions as $posId => $posName)}
						{if($posId == 0 )}
						<label><input type="radio" value="{$posId}" {if($posId == $checkPosId)}checked="checked"{/if} name="view_position[{$ad->adid}]"/>{$posName}</label><br/>
						{elseif($ad->view_type == 2)}
						<label><input type="radio" value="{$posId}" {if($posId == $checkPosId)}checked="checked"{/if} name="view_position[{$ad->adid}]"/>{$posName}</label><br/>
						{elseif($posId%4 == 1 && in_array($ad->view_type,array(1,32)))}
						<label><input type="radio" value="{$posId}" {if($posId == $checkPosId)}checked="checked"{/if} name="view_position[{$ad->adid}]"/>{$posName}</label><br/>
						{/if}
					{/foreach}
                </td>
                {/if}
				<!--<td>{if $ad->play_status==1}正常{else}无效{/if}</td>-->
				{if(false && $config['stuff']['shenhe'])}
				<td>
					<input id="st_{$ad->adid}" type="checkbox" value="1" name="st[{$ad->adid}][]"/>
				</td>
				{/if}
				<td>
					{*跳转地址<input type="text" class="itxt crop_url" name="crop_url[{$ad->adid}]" size="30" value="{$ad->stuff->crop_url}" /><br />*}
					{if $ad->stuff->type<=2 or $ad->stuff->type==5}
					<br>描述：<br>
					<input type="text" class="itxt landing_page" name="description[{$ad->adid}]" size="30" value="{$ad->stuff->desc}" />
					<br>标题：<br>
					<input type="text" class="itxt landing_page" name="title[{$ad->adid}]" size="30" value="{$ad->stuff->title}" />
					<br>落地页：<br>
					<input type="text" class="itxt landing_page" name="landing_page[{$ad->adid}]" size="30" value="{$ad->stuff->landing_page}" />
					<br/>
						{if $ad->view_type&0x10}
						跳转规则:{$ad->stuff->landing_rule}
						<select name="landing_rule[{$ad->adid}]">
							{foreach $rule as $k=>$v}
							<option value="{$k}" {if $ad->stuff->landing_rule==$k}selected{/if}>{$v}</option>
							{/foreach}
						</select>
						{/if}
					{else}
					{/if}
				</td>
				<td>
					显示监控JS<br />
					<textarea style="margin: 0px; width: 220px; height: 50px;" type="text" class="show_js itxt" name="show_js[{$ad->adid}]" size="30" >{$ad->show_js}</textarea><br />
					点击监控JS<br />
					<textarea style="margin: 0px; width: 220px; height: 50px;" type="text" class="click_js itxt" name="click_js[{$ad->adid}]" size="30" >{$ad->click_js}</textarea>
				</td>
				<td>应用类型：{if $ad->stuff->app_type ==0}Android {else} IOS {/if}<br/>
					应用包名称：{$ad->stuff->packagename}<br/>
					应用名称：{$ad->stuff->appname}<br/>
					{if $ad->stuff->app_type ==0 }Android应用介绍URL：{$ad->stuff->app_intro_url}{/if}<br/>
					应用大小：{$ad->stuff->app_size}<br/>
					应用版本：{$ad->stuff->app_ver}<br/>
					{if $ad->stuff->app_type ==0}appid：{$ad->stuff->app_id} {else} App Store ID：{$ad->stuff->itunesId}{/if}<br/>
				</td>
				<td>
					<span class="ltlink a12">
						<!--<a href="#">重新上传</a><a href="#">检测代码</a>-->
						<a href="{$ad->stuff->addr}" target="_blank">预览</a><br />
						<!-- <a class="copyset" href="#" title="复制上面的设置(类型，目标地址，JS设置)到本素材">复制</a> -->
						<a href="javascript:void(0)" onclick="lightHtml({$ad->adid});">删除</a>
						{*<a href="#">下载</a><br />*}
					</span>
				</td>
			</tr>
		{/foreach}
		</table>
    <!--btn-->
    <div class="comForm">
        <input {$readonly} {if(($btn_disable==1)&&(!(user_api::auth("admin"))))} disabled {/if} class="btn btn-squared btn-success fr" type="button" value="保存" style="width:120px;" onclick="saveAll()"/>
        {if(!user_api::auth("admin"))}
        <input {$readonly}  {if(($btn_disable==1)&&(!(user_api::auth("admin"))))} disabled {/if} class="btn btn-squared btn-success fr" type="button" value="提交审核" style="width:120px;" onclick="submitAll()"/>
        {/if}
    </div>

  </div>
  </form>
</div>
</div>
<div class="clear"></div>
{part "/main.main.footer"}

<script type="text/javascript">
function saveAll(){
        $("#submit_or_not").val(0);
        $("#stuffs_form").submit();
}

function submitAll(){
    layer.confirm('提交审核后将不可再修改素材，是否继续？', function(){
        $("#submit_or_not").val(1);
        $("#stuffs_form").submit();
    });
}
function lightHtml(adid){
	var html =	'<div style="width:360px; height: 160px;">'+
					'<div style="width: 320px; height: 60px; line-height: 30px; margin-top: 30px; margin-left:20px; text-align:center;">确认删除？</div>'+
					'<div style="width: 320px; height: 30px; line-height: 30px; margin-top: 20px; margin-left:20px;">'+
					'<a href="javascript:;" class="xubox_close" style="width:80px; height:30px; background:#CC0000; text-align:center; color:#FFFFFF; left:80px;"  onclick="deleteAdById('+ adid +');">删除</a>'+
					'<a href="javascript:;" class="xubox_close" style="width:80px; height:30px; background:#28A7E1; text-align:center; color:#FFFFFF; left:200px;">关闭</a>'+
					'</div>'+
				'</div>';
	lightBox(html);
}
function deleteAdById(adid){
	$.ajax({
		type: "POST", url: "ad.stuff.delete", data: { adid:adid }, dataType:"json",
		success: function(msg){
			location.reload();
		}
	});
	return false;
};
</script>
</body>
</html>
