<!DOCTYPE html>
<html>
<head>
{part "/main.main.header"}
</head>
<body>
{part "/main.main.nav.ad"}

<!--main-->
<div class="main">
  <div class="side">
{part "/ad.plan.listpart"}
  </div>
  
  <!--mcon-->
  <div class="mcon">
  <div class="clear"></div>
    <div class="alertMes">
      <dl>
        <dt><img src="/baichuan_advertisement_manage/assets_admin/img/i_com.png" /></dt>
        <dd>
          <h1>添加成功！</h1>
          <p class="mt5">页面在5秒钟后将返回到广告计划页面。页面无法跳转，请<a href="#">点击这里</a></p>
          <div class="mt20"><span class="sbtnb"><input name="" type="button" class="ibtnb" value="返回" /></span></div>
        </dd>
      </dl><div class="clear"></div>
    </div>
    <div class="clear"></div>


  </div>
</div>
{part "/main.main.footer"}
</div>

</body>
</html>
